@import url('https://fonts.googleapis.com/css?family=Palanquin:wght@100:100,200,300,400,500,600,700,800,900|Lato:100,200,300,400,500,600,700,800|Zen+Dots:100,200,300,400,500,600,700,800');

body,
html {
    position: relative;
    min-height: calc(100vh);
    font-family: 'Lato', sans-serif;
}

.ladies-bg {
    background: rgb(128, 128, 128, 1);
}


/*--Fonts--*/

.page-header {
    font-family: 'Zen Dots', cursive;
    font-weight: 400;
    font-size: 1.7rem;
    color: rgb(255, 184, 68, 1);
}

.book-scroll-title {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.content-para p {
    font-size: 1.1rem !important;
}

.footnote-news p {
    font-size: 0.9rem !important;
}

/*--Margins/ Padding--*/

.book-scroll-margins-1 {
    margin-top: 1.8rem;
    margin-bottom: 1.2rem;
}

.book-scroll-margins-2 {
    margin-top: 3.5rem;
    margin-bottom: 1.2rem;
}

.book-scroll-margins-34 {
    margin-top: 3.5rem;
    margin-bottom: 1.2rem;
}

.book-mb {
    margin-bottom: 2rem;
}

.margin-about-section1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin-news-section1 {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.margin-news-section1_footnote {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.margin-about-section2 {
    /*--1st Para--*/
    /*--Used for news.html also--*/
    margin-bottom: 3rem;
}

.margin-about-section3 {
    margin-bottom: 0rem;
}

.margin-about-section4 {
    margin-bottom: 3rem;
}

.amazon-margin {
    margin-top: 1rem;
}

.amazonbuy-align {
    text-align: center;
}

.buy-align {
    text-align: center;
}

.book-pr {
    padding-right: 1rem;
}

.book-pl {
    padding-left: 1rem;
}

.news-image-pr {
    padding-right: 1rem;
    text-align: center;
}

.gallery-padding {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.gallery-padding-p {
    padding-left: 0rem;
    padding-right: 0rem;
}

.copyright-website {
    margin-top: 0rem;
}

.content-mb {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    text-align: left !important;
}

.content-mb-news {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.content-news-title {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    margin-bottom: 3rem !important;
}

.news-mb {
    margin-bottom: 2rem !important;
    font-size: 1.1rem;
}

.book-spacing-a {
    margin-right: 0.25rem;
}

.book-spacing-b {
    margin-left: 0.25rem;
}

.bottom-block {
    padding-bottom: 0rem;
    padding-top: 0rem;
}

.top-block {
    padding-top: 1.5rem;
}


/*--Navbar--*/

.navbar-bg {
    background: rgb(153, 153, 153) !important;
    font-family: 'Palanquin', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.nav-menu a {
    color: rgb(255, 184, 68, 1);
}

.nav-menu a:hover {
    color: rgb(255, 255, 255, 1);
}


/*--Nav Toggle--*/

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 199, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
    border-color: rgb(255, 199, 0, 0.2);
}

button,
input,
optgroup,
select,
textarea {
    background: rgb(153, 153, 153, 1);
    border: rgb(153, 153, 153, 1);
    color: rgb(255, 184, 68, 1);
    font-family: 'Lato', sans-serif;
}


/*--Gradient - Title--*/

.gradient {
    background: linear-gradient(rgba(128, 128, 128, 0.8), rgba(128, 128, 128, 0.8)), url("/static/images/book-covers/book-bg.jpeg") no-repeat center center fixed;
    background-size: cover;
}


/*--Book Scroll--*/

.book-box {
    width: 300px;
    height: 50px;
    margin-top: 0.6em;
    border: 2px solid rgb(128, 128, 128, 1);
    margin-bottom: -1.4em;
    z-index: 9;
    background: rgb(128, 128, 128, 1);
}

.book-catalogue {
    background: linear-gradient(rgba(255, 199, 0, 0.8), rgba(255, 199, 0, 0.8)), url("/static/images/book-covers/book-bg.jpeg") no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 10rem;
}

#book-scroll-header {
    font-family: 'Lato', sans-serif;
    color: rgb(255, 184, 68, 1);
    font-size: 1.7rem;
}

.book-scroll-header-padding {
    padding-top: 0.5rem;
}


/*--Contact Form--*/

.contact-border {
    border-radius: 3rem;
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(0, 0, 0, 1);
    background-color: rgb(255, 255, 255);
    border: rgb(211, 235, 230);
}

.btn-font-send {
    background-color: rgb(67, 67, 67, 1);
    font-weight: 600;
    letter-spacing: 0.125rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(0, 0, 0, 1);
    color: rgb(255, 255, 255);
}

.contact-form {
    padding-right: 2rem;
    padding-left: 2rem;
}

.contact-field-margin {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.form-control:focus {
    border-color: rgb(67, 67, 67, 1) !important;
    box-shadow: inset 0 0.0625rem 0.0625rem rgba(67, 67, 67, 1), 0 0 0.5rem rgba(67, 67, 67, 1) !important;
}


/* Hover-overlay Book */

.book-posters:hover {
    opacity: 0.7;
}

.hover-book:hover {
    opacity: 0.7;
}

/* NEWS MODAL */

/* The Modal (background) */
.news-modal {
    padding-top: 40px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content */
.news-modal-content {
    background-color: rgb(255, 255, 255, 1);
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(128, 128, 128, 1);
    width: 95%;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/*--Links--*/

.amazon-btn {
    background-color: rgb(240, 193, 75, 1) !important;
    font-family: 'Roboto', sans-serif !important;
    color: rgb(0, 0, 0, 1) !important;
    font-weight: 900 !important;
    font-size: 1.2rem !important;
    padding: 0.8rem 2.8rem 0.8rem 2.8rem !important;
    text-decoration: none !important;
    border-radius: 1rem;
}

.amazon-btn:hover {
    background-color: rgb(240, 193, 75, 0.6) !important;
}

.mango-btn {
    background-color: rgb(235, 132, 141, 1) !important;
    font-family: 'Roboto', sans-serif !important;
    color: rgb(0, 0, 0, 1) !important;
    font-weight: 900 !important;
    font-size: 1.2rem !important;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem !important;
    text-decoration: none !important;
    border-radius: 1rem;
}

.mango-btn:hover {
    background-color: rgb(235, 132, 141, 0.6) !important;
}

.read-more {
    border: 0.1rem solid;
    border-color: rgb(128, 128, 128, 1);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    text-decoration: none !important;
    background: rgb(128, 128, 128, 1);
    color: rgb(255, 184, 68, 1);
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 10rem;
}

.read-more:hover {
    background: rgb(255, 184, 68, 1);
    color: rgb(128, 128, 128, 1);
}

.read-more-news {
    border: 0.1rem solid;
    border-color: rgb(128, 128, 128, 1);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-decoration: none !important;
    background: rgb(255, 255, 255, 1);
    color: rgb(128, 128, 128, 1);
    font-size: 1.1rem;
    font-weight: 600;
}

.read-more-news:hover {
    background: rgb(128, 128, 128, 1);
    color: rgb(255, 255, 255, 1);
}

.read-more-news-center {
    text-align: center;
}

.website a {
    text-decoration: none !important;
    color: rgb(255, 255, 255, 1)
}

.website a:hover {
    text-decoration: underline !important;
    color: rgb(255, 255, 255, 1) !important;
}

.twitter-instagram {
    margin-top: 2rem;
}

.contact-links a {
    color: rgb(108, 117, 125, 1) !important;
}

.gallery-back a {
    color: rgb(108, 117, 125, 1)
}


/*--Images--*/

.img-fluid-peccavi {
    max-width: 50% !important;
    height: auto !important;
}

.poster-img-fluid {
    width: 60%;
    height: auto;
}

.book-carousel img {
    width: 60%;
}

.book-images {
    max-width: 45%;
}

.about-book-images {
    max-width: 90%;
}

.index-book-image {
    max-width: 60%;
}

.news-book-image {
    max-width: 90%;
}

.gallery-images {
    max-width: 60%;
}

.gallery-categories {
    max-width: 60%;
}

.lr-price-pub {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.image-shadow {
    box-shadow: 0rem 0rem 1.5rem 0rem rgb(0, 0, 0, 1);
}

.icon-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home_image {
    max-width: 80% !important;
}

/*-----Font Awesome Icons-----*/

.fa-twitter {
    color: rgb(255, 255, 255, 1);
}

.fa-instagram {
    color: rgb(255, 255, 255, 1);
}

.fa-amazon {
    color: rgb(0, 0, 0, 1);
}

#text,
#icon {
    line-height: 50px;
}

#icon {
    vertical-align: middle;
    font-size: 25px;
}

#amazon-color {
    color: rgb(255, 255, 255, 1);
}


/*---Block Dividers---*/

.block-divider {
    height: 2px;
    border: 0;
    background-color: rgb(128, 128, 128, 1);
    margin-top: 1px;
    margin-bottom: 1px;
}

.block-divider-sub {
    height: 1px;
    border: 0;
    background-color: rgb(128, 128, 128, 0.6);
    margin-top: 1px;
    margin-bottom: 1px;
}


/*-----Page-Top-Scroll-Feature-----*/

#my-scroll-to-top-btn {
    position: fixed !important;
    bottom: 12px !important;
    right: 10px !important;
    z-index: 20 !important;
    font-size: 18px !important;
    border: none !important;
    outline: none !important;
    background-color: rgb(255, 184, 68, 1) !important;
    color: rgb(255, 255, 255, 1) !important;
    cursor: pointer !important;
    padding: 8px !important;
    border-radius: 50% !important;
    transition: all 5s ease-out !important;
    width: 40px !important;
    height: 40px !important;
    visibility: hidden;
}

.fa-arrow-up {
    transition: all 5s ease-out !important;
}


/*--Footer--*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    background-color: rgb(128, 128, 128, 1);
    color: rgb(255, 255, 255, 1);
}

#wrapper {
    padding-bottom: 10rem;
}


/* MEDIA QURIES */


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/*---Reduce nav font for better fitting for medium devices---*/

@media(min-width:991px) {
    .navbar-bg {
        background: darkgrey;
        font-family: 'Palanquin', sans-serif;
        font-weight: 500;
        font-size: 1.4rem;
    }
}


/*---Reduce size of book scroll images for md and sm devices. For better (smaller) viewing---*/

@media(min-width:767px) {
    .book-images {
        max-width: 35%;
    }
}


/*---Margin top increase for better spacing for md--*/

@media(min-width:1199px) {
    .book-scroll-margins-34 {
        margin-top: 1.8rem;
        margin-bottom: 1.2rem;
    }
}


/*---Margin top increase for better spacing for sm---*/

@media(min-width:767px) {
    .book-scroll-margins-2 {
        margin-top: 1.8rem;
        margin-bottom: 1.2rem;
    }
}


/*---Increase in font-size for read-me link for better read for mobile---*/

@media(min-width:1199px) {
    .read-more {
        font-size: 0.9rem;
    }
}


/*---Increase in font-size for read-me link for better read for mobile---*/

@media(min-width:1199px) {
    .read-more-news {
        font-size: 0.9rem;
    }
}


/*---Increase font size for book scroll title for better read for sm---*/

@media(min-width:1199px) {
    .book-scroll-title {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
    }
}


/*---Margin bottom for book image for better spacing in md/sm---*/

@media(min-width:991px) {
    .book-mb {
        margin-bottom: 0rem;
    }
}


/*---Pge Header reduce font for better reading/ viewing on md/sm---*/

@media(min-width:991px) {
    .page-header {
        font-size: 2rem;
    }
}


/*---Margin top/ bottom for 'About' section for better viewing for md/sm---*/

@media(min-width:991px) {
    .margin-about-section1 {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}


/*---Margin top/ bottom for 'News' feed for better viewing for md/sm---*/

@media(min-width:991px) {
    .margin-news-section1 {
        margin-top: 3rem;
        margin-bottom: 0rem;
    }
}

@media(min-width:991px) {
    .margin-news-section1_footnote {
        margin-top: 3rem;
        margin-bottom: 0rem;
    }

}

/*---Margin top/ bottom for 'About' section for better viewing for md/sm (1st Para)---*/

@media(min-width:991px) {
    .margin-about-section2 {
        /*--1st Para--*/
        margin-bottom: 0rem;
    }
}


/*---Margin bottom for 'About' section for better viewing for md/sm---*/

@media(min-width:991px) {
    .margin-about-section3 {
        margin-bottom: 6rem;
    }
}


/*---Increase image size for smaller devices for better viewing---*/

@media(min-width:767px) {
    .about-book-images {
        max-width: 70%;
    }
}


/*---Decrease font-size got "Book" title for better viewing on mb---*/

@media(min-width:767px) {
    #book-scroll-header {
        font-size: 2rem;
    }
}


/*---Book box padding-top for be positoning for mb---*/

@media(min-width:767px) {
    .book-scroll-header-padding {
        padding-top: 0.25rem;
    }
}


/*---Increase image size for smaller devices for better viewing---*/

@media(min-width:767px) {
    .index-book-image {
        max-width: 40%;
    }
}


/*---Padding for md/ lg for better positioning and reading---*/

@media(min-width:767px) {
    .book-pr {
        padding-right: 3rem;
    }
}


/*---Padding for md/ lg for better positioning and reading---*/

@media(min-width:767px) {
    .book-pl {
        padding-left: 3rem;
    }
}


/*---Smaller image size in new.html for beter viewing on mb---*/

@media(min-width:767px) {
    .news-book-image {
        max-width: 100%;
        margin-bottom: 3rem;
    }
}


/*---Text left for mb and md for be postioning---*/

@media(min-width:992px) {
    .news-image-pr {
        padding-right: 1rem;
        text-align: left;
    }
}


/*---Smaller image size in new.html for beter viewing on mb---*/

@media(min-width:767px) {
    .gallery-categories {
        max-width: 30%;
    }
}


/*---Increase padding l/r for lg devices for each category for better viewing/ positioning---*/

@media(min-width:767px) {
    .gallery-padding-p {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}


/*---Increase padding l/r for lg devices for gallery.html for better viewing/ positioning.---*/

@media(min-width:767px) {
    .gallery-padding {
        padding-bottom: 0rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}


/*----Class footer height decrease for better postioning/ viewing for sm/md. --*/

@media(min-width:991px) {
    .footer {
        height: 6rem;
    }
}


/*----ID wrapper pt decrease for better postioning/ viewing for sm/md. --*/

@media(min-width:991px) {
    #wrapper {
        padding-bottom: 6rem;
    }
}


/*----MT adjustments for better positioning for mb/md/ lg devices--*/

@media(min-width:991px) {
    .copyright-website {
        margin-top: 1.5rem;
    }
}


/*----Increase font size for <p> content for sm/md for clearer reading--*/

@media(min-width:991px) {
    .content-para p {
        font-size: 1rem !important;
    }
}


/*---PL PR increase for <p> content for mb devices for better spacing/ Reading---*/

@media(min-width:767px) {
    .content-mb {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
        text-align: justify !important;
    }
}


/*---PL PR increase for <p> content for mb devices for better spacing/ Reading. news.html---*/

@media(min-width:767px) {
    .content-mb-news {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}


/*---PL PR MB increase for title for mb devices for better spacing/ Reading news.html---*/

@media(min-width:767px) {
    .content-news-title {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        margin-bottom: 0rem !important;
    }
}


/*---Read More link center for mb in news.html for better postioning and layout" ---*/

@media(min-width:767px) {
    .read-more-news-center {
        text-align: left;
    }
}


/*---MB for <p> for better spacing above README link for better positioning---*/

@media(min-width:767px) {
    .news-mb {
        margin-bottom: 3rem;
        font-size: 1rem;
    }
}

/*---Book spacing mr for md/lg for better viewing---*/

@media(min-width:767px) {
    .book-spacing-a {
        margin-right: 2rem;
    }
}

/*---Book spacing ml for md/lg for better viewing---*/

@media(min-width:767px) {
    .book-spacing-b {
        margin-left: 2rem;
    }
}


/*---Text align right for icon in lg and center for md/sm for better positioning---*/

@media(min-width:767px) {
    .amazonbuy-align {
        text-align: right;
    }
}

/*---Text align left for icon in lg and center for md/sm for better positioning---*/
@media(min-width:767px) {
    .buy-align {
        text-align: left;
    }
}

/*---MT for lg and decrease MT for sm for better positioning---*/

@media(min-width:767px) {
    .amazon-margin {
        margin-top: 2.5rem;
    }
}

/*---Increase width of modal for better spacing and reading for mb---*/

@media(min-width:767px) {
    .news-modal-content {
        background-color: rgb(255, 255, 255, 1);
        margin: auto;
        padding: 20px;
        border: 1px solid rgb(128, 128, 128, 1);
        width: 80%;
    }
}

/*---PT for block container for better spacing between footer and content for mb/md/lg---*/

@media(min-width:767px) {
    .top-block {
        padding-top: 1rem;
    }
}


/*---PT for block container for better spacing between footer and content for mb/md/lg---*/

@media(min-width:767px) {
    .home_image {
        max-width: 80% !important;
        margin-top: 5rem;
    }
}