@import url('https://fonts.googleapis.com/css?family=Calligraffitti:100,200,300,400,500,600,700,800|Playfair+Display:100,200,300,400,500,600,700,800|Sriracha&display:100,200,300,400,500,600,700,800|PT+Serif&display:100,200,300,400,500,600,700,800');

body {
    position: relative;
    min-height: calc(100vh);
}

/*--Navbar--*/

.navbar-adjust {
    background-color: rgb(255, 32, 255, 1);
}

/*--Header--*/

.header-title {
    background-color: rgb(255, 32, 255, 1);
}

/*--Footer--*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5em;
    background-color: red;
}

#wrapper {
    padding-bottom: 5rem;
}

/*--Media Queries--*/


/*---Reduces width and padding in <form> in contact.html for desktop. For smaller devices it resorts back to 100% width and 0 padding---*/

@media(min-width:768px) {
    .navbar-adjust {
        background-color: rgb(255, 255, 255, 1)
    }
}