{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">About the Author</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row margin-about-section1">
        <div class="col-md-12 col-lg-6 my-auto ml-auto">
            <h2 class="text-left text-muted mb-3 d-none d-lg-block">Frank Hurst</h2>
            <h3 class="text-left text-muted mb-3 d-lg-none text-center">Frank Hurst</h3>
            <!---1st Para--->
            <p class="text-muted margin-about-section2 text-muted">Frank’s first book, ‘The Postmistress of Nong Khai’
                was the
                first of three in his
                ‘Golden Triangle’
                series.
                The second ‘The Chiang Mai Assignment’ was published in November 2017 and the final book of the trilogy
                ‘Mekong Dragon’ was published June 2019. His books, which have received wide acclaim, are authentic
                crime
                thrillers based in England and Thailand. They follow the adventures of intelligence officer Mike Rawlin
                as
                he tries to capture a dangerous international drugs trafficker in South East Asia.
            </p>
        </div>
        <div class="col-md-12 col-lg-6 text-center my-auto about-margin-image">
            <img src="static/images/about/about-author1.png" class="img-fluid about-book-images image-shadow"
                alt="Frank Hurst" />
        </div>
    </div>
    <!---For lg/xl devices only--->
    <div class="row margin-about-section3">
        <div class="col-md-12 col-lg-6 text-center my-auto d-none d-lg-block">
            <img src="static/images/about/about-author2.png" class="img-fluid about-book-images image-shadow"
                alt="Frank Hurst" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto d-none d-lg-block text-muted">
            <p>Frank was himself a
                former drugs intelligence officer who travelled widely during his career and his writing has the ring of
                authenticity on every page. The books are about secrets, romance, and rivalry in the dangerous jungles
                of
                the Golden Triangle and the corridors of power in London where deception and conspiracy loom at every
                turn.</p>
        </div>
    </div>
    <!---For md/sm/xs devices only--->
    <div class="row d-lg-none margin-about-section4">
        <div class="col-md-12 col-lg-6 my-auto ml-auto text-muted">
            <p>Frank was himself a
                former drugs intelligence officer who travelled widely during his career and his writing has the ring of
                authenticity on every page. The books are about secrets, romance, and rivalry in the dangerous jungles
                of
                the Golden Triangle and the corridors of power in London where deception and conspiracy loom at every
                turn.</p>
        </div>
        <div class="col-md-12 col-lg-6 text-center my-auto pt-5">
            <img src="static/images/about/about-author2.png" class="img-fluid about-book-images image-shadow"
                alt="Frank Hurst" />
        </div>
    </div>
</div>

{% endblock %}