{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="text-center pt-4">About the Author</h1>
    </div>
    <div class="col-md-12 col-lg-6">
        <img src="static/images/book-spread.png" class="img-fluid" alt="The Peccavi Plot - Book Cover" />
    </div>
    <div class="col-md-12 col-lg-6 my-auto ml-auto">
        <p>Frank’s first book, ‘The Postmistress of Nong Khai’ was the first of three in his ‘Golden Triangle’ series.
            The second ‘The Chiang Mai Assignment’ was published in November 2017 and the final book of the trilogy
            ‘Mekong Dragon’ was published June 2019. His books, which have received wide acclaim, are authentic crime
            thrillers based in England and Thailand. They follow the adventures of intelligence officer Mike Rawlin as
            he tries to capture a dangerous international drugs trafficker in South East Asia. Frank was himself a
            former drugs intelligence officer who travelled widely during his career and his writing has the ring of
            authenticity on every page. The books are about secrets, romance, and rivalry in the dangerous jungles of
            the Golden Triangle and the corridors of power in London where deception and conspiracy loom at every turn.
        </p>
    </div>
</div>

{% endblock %}