<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="Frank Hurst - Author" />
    <meta property='og:image' content='http://www.frankhurst.com/static/images/book-covers/peccavi_plot_mockups.png' />
    <meta property="og:description" content="The Peccavi Plot" />
    <meta property='og:url' content='http://www.frankhurst.com/home' />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css"
        type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/icon/favicon-16x16.png">
    <!--AOS Animation-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="manifest" href="static/icon/site.webmanifest">
    <title>Frank Hurst - Author</title>
</head>

<body>
    <!--Header-->
    <div class="container-fluid pr-0 pl-0 ladies-bg">
        <div class="row no-gutters">
            <div class="col text-center">
                <a class="nav-link p-0" href="{{url_for('home')}}"><img class="img-fluid"
                        src="/static/images/navbar/header-complete.png"
                        alt="Frank Hurst Profile against asian ladies in bg" /></a>
            </div>
        </div>
    </div>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg custom-toggler navbar-bg">
        <button type="button" class="navbar-toggle text-center mx-auto d-lg-none" data-toggle="collapse"
            data-target=".navbar-collapse">
            <!-- Represents navbar collapsed menu on smaller screens -->
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-lg" aria-hidden="true"></i> Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-menu mx-auto">
                <li class="nav-item active pr-3">
                    <a class="nav-link" href="{{url_for('home')}}">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="{{url_for('about')}}">ABOUT</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="{{url_for('books')}}">BOOKS</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="{{url_for('gallery')}}">GALLERY</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="{{url_for('news2')}}">LATEST NEWS</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="{{url_for('news')}}">MEDIA & REVIEWS</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="{{url_for('contact')}}">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %} {% endblock %}

    <div class="container bottom-block">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

    <!--Book Scroll-->
    <div class="container-fluid pr-0 pl-0">
        <div class="row no-gutters">
            <div class="book-box mx-auto icon-shadow book-scroll-header-padding" data-aos="fade-up"
                data-aos-duration="1200">
                <h2 class="text-center" id="book-scroll-header">BOOKS</h2>
            </div>
            <div class="row no-gutters col-12 p-5 book-catalogue text-center">
                <div class="col-md-6 col-lg-6 col-xl-3 p-0 book-scroll-margins-1" data-aos="fade-up"
                    data-aos-duration="1500">
                    <div class="hover-book">
                        <a href="{{url_for('book1')}}">
                            <img src="static/images/book-covers/postmistress-front.png" class="img-fluid book-images"
                                alt="The Postmistress of Nong Khai - Book Cover" />
                        </a>
                    </div>
                    <p class="pt-3 book-scroll-title mb-4">The Postmistress of Nong Khai</p>
                    <a href="{{url_for('book1')}}" class="read-more"><i class="fas fa-chevron-right"></i>&ensp;READ
                        MORE&ensp;<i class="fas fa-chevron-left"></i></a>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 p-0 book-scroll-margins-2" data-aos="fade-up"
                    data-aos-duration="1500">
                    <div class="hover-book">
                        <a href="{{url_for('book2')}}">
                            <img src="static/images/book-covers/changmai-front.png" class="img-fluid book-images"
                                alt="The Chiang Mai Assignment - Book Cover" />
                        </a>
                    </div>
                    <p class="pt-3 book-scroll-title mb-4">The Chiang Mai Assignment</p>
                    <a href="{{url_for('book2')}}" class="read-more"><i class="fas fa-chevron-right"></i>&ensp;READ
                        MORE&ensp;<i class="fas fa-chevron-left"></i></a>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 p-0 book-scroll-margins-34" data-aos="fade-up"
                    data-aos-duration="1500">
                    <div class="hover-book">
                        <a href="{{url_for('book3')}}">
                            <img src="static/images/book-covers/mekong-front.png" class="img-fluid book-images"
                                alt="Mekong Dragon - Book Cover" />
                        </a>
                    </div>
                    <p class="pt-3 book-scroll-title mb-4">Mekong Dragon</p>
                    <a href="{{url_for('book3')}}" class="read-more"><i class="fas fa-chevron-right"></i>&ensp;READ
                        MORE&ensp;<i class="fas fa-chevron-left"></i></a>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 p-0 book-scroll-margins-34" data-aos="fade-up"
                    data-aos-duration="1500">
                    <div class="hover-book">
                        <a href="{{url_for('book4')}}">
                            <img src="static/images/book-covers/peccavi-front.png" class="img-fluid book-images"
                                alt="The Paccavi Plot - Book Cover" />
                        </a>
                    </div>
                    <p class="pt-3 book-scroll-title mb-4">The Peccavi Plot</p>
                    <a href="{{url_for('book4')}}" class="read-more"><i class="fas fa-chevron-right"></i>&ensp;READ
                        MORE&ensp;<i class="fas fa-chevron-left"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer class="container-fluid" id="wrapper">
        <div class="row footer">
            <div class="col-lg-6 text-center twitter-instagram">
                <a href="https://twitter.com/frankhurstbooks" class="pr-3"><i class="fab fa-2x fa-twitter"></i></a>
                <a href="https://www.instagram.com/frankhurstuk/" class="pr-3"><i
                        class="fab fa-2x fa-instagram"></i></a>
                <a href="https://www.amazon.co.uk/Frank-Hurst/e/B075P75Q4N?ref_=dbs_p_pbk_r00_abau_000000"><i
                        class="fab fa-2x fa-amazon" id="amazon-color"></i></a>
            </div>
            <div class="col-lg-6 text-center copyright-website">
                <p class="mb-1"><i class="far fa-copyright"></i>&ensp;2021 Frank Hurst</p>
                <div class="website">
                    <p class="mb-0 mt-0">Website - <a href="https://murraybealby.com/">Murray Bealby</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script>
    <!--AOS Animation-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    {% block scripts %} {% endblock %}
    <!-- OS Animation -->
    <script>
        AOS.init();
    </script>
</body>

</html>