<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="Frank Hurst - Author" />
    <meta property='og:image' content='http://www.frankhurst.com/static/images/book-covers/peccavi_plot_mockups.png' />
    <meta property="og:description" content="The Peccavi Plot" />
    <meta property='og:url' content='http://www.frankhurst.com/home' />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/icon/favicon-16x16.png">
    <!--AOS Animation-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="manifest" href="static/icon/site.webmanifest">
    <title>Frank Hurst - Author</title>
</head>

<body>
    <!--Header-->
    <div class="container-fluid pr-0 pl-0 ladies-bg">
        <div class="row no-gutters">
            <div class="col text-center">
                <a class="nav-link p-0" href="{{url_for('home')}}"><img class="img-fluid"
                        src="/static/images/navbar/header-complete.png"
                        alt="Frank Hurst Profile against asian ladies in bg" /></a>
            </div>
        </div>
    </div>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg custom-toggler navbar-bg">
        <button type="button" class="navbar-toggle text-center mx-auto d-lg-none" data-toggle="collapse"
            data-target=".navbar-collapse">
            <!-- Represents navbar collapsed menu on smaller screens -->
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-lg" aria-hidden="true"></i> Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-menu mx-auto">
                <li class="nav-item active pr-3">
                    <a class="nav-link" href="{{url_for('home')}}">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="{{url_for('about')}}">ABOUT</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="{{url_for('books')}}">BOOKS</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="{{url_for('gallery')}}">GALLERY</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="{{url_for('news2')}}">LATEST NEWS</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="{{url_for('news')}}">MEDIA & REVIEWS</a>
                </li>
                <li class="nav-item pr-3">
                    <a class="nav-link" href="{{url_for('contact')}}">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %} {% endblock %}

    <div class="container bottom-block">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

    <!--Book Scroll-->
    <div class="container-fluid">
        <div class="row">
            <div class="book-box mx-auto icon-shadow book-scroll-header-padding">
                <h2 class="text-center" id="book-scroll-header">BOOKS</h2>
            </div>
        </div>
        <div class="row pt-5 pl-5 pr-5 pb-2 book-catalogue">
            <!---Carousel--->
            <!---Display Desktop--->
            <div id="carouselExampleControls" class="carousel slide d-none d-lg-block" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row mx-auto">
                            <div class="col-md-3 mb-3 p-4">
                                <a href="{{url_for('book1')}}">
                                    <picture>
                                        <source type="image/webp">
                                        <img loading="lazy" src="static/images/book-covers/postmistress-front.png"
                                            srcset="static/images/book-covers/postmistress-front.png"
                                            class="d-block mx-auto poster-img-fluid book-posters"
                                            alt="The Postmistress of Nong Khai - Book Cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-md-3 mb-3 p-4">
                                <a href="{{url_for('book2')}}">
                                    <picture>
                                        <source type="image/webp">
                                        <img loading="lazy" src="static/images/book-covers/changmai-front.png"
                                            srset="static/images/book-covers/changmai-front.png"
                                            class="d-block mx-auto poster-img-fluid book-posters"
                                            alt="The Chiang Mai Assignment - Book Cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-md-3 mb-3 p-4">
                                <a href="{{url_for('book3')}}">
                                    <picture>
                                        <source type="image/webp">
                                        <img loading="lazy" src="static/images/book-covers/mekong-front.png"
                                            srcset="static/images/book-covers/mekong-front.png"
                                            class="d-block mx-auto poster-img-fluid book-posters"
                                            alt="Mekong Dragon - Book Cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-md-3 mb-3 p-4">
                                <a href="{{url_for('book4')}}">
                                    <picture>
                                        <source type="image/webp">
                                        <img loading="lazy" src="static/images/book-covers/peccavi-front.png"
                                            srcset="static/images/book-covers/peccavi-front.png"
                                            class="d-block mx-auto poster-img-fluid book-posters"
                                            alt="The Paccavi Plot - Book Cover">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---Display Medium--->
            <div id="carouselExampleIndicators" class="carousel slide d-none d-md-block d-lg-none"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row mx-auto">
                            <div class="col-md-6 mb-3">
                                <a href="{{url_for('book1')}}">
                                    <picture>
                                        <source type="image/webp">
                                        <img loading="lazy" src="static/images/book-covers/postmistress-front.png"
                                            srcset="static/images/book-covers/postmistress-front.png"
                                            class="d-block w-50 mx-auto book-posters"
                                            alt="The Postmistress of Nong Khai - Book Cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-md-6 mb-3">
                                <a href="{{url_for('book2')}}">
                                    <picture>
                                        <source type="image/webp">
                                        <img loading="lazy" src="static/images/book-covers/changmai-front.png"
                                            srcset="static/images/book-covers/changmai-front.png"
                                            class="d-block w-50 mx-auto book-posters"
                                            alt="The Chiang Mai Assignment - Book Cover">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row mx-auto">
                            <div class="col-md-6 mb-3">
                                <a href="{{url_for('book3')}}">
                                    <picture>
                                        <source type="image/webp">
                                        <img loading="lazy" src="static/images/book-covers/mekong-front.png"
                                            srcset="static/images/book-covers/mekong-front.png"
                                            class="d-block w-50 mx-auto book-posters" alt="Mekong Dragon - Book Cover">
                                    </picture>
                                </a>
                            </div>
                            <div class="col-md-6 mb-3">
                                <a href="{{url_for('book4')}}">
                                    <picture>
                                        <source type="image/webp">
                                        <img loading="lazy" src="static/images/book-covers/peccavi-front.png"
                                            srcset="static/images/book-covers/peccavi-front.png"
                                            class="d-block w-50 mx-auto book-posters"
                                            alt="The Paccavi Plot - Book Cover">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!---Display Small--->
            <div id="carouselExampleControlsNoTouching" class="carousel slide d-md-none" data-bs-touch="false"
                data-bs-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row mx-auto">
                            <div class="col-12 mb-3 book-carousel">
                                <a href="{{url_for('book1')}}">
                                    <picture>
                                        <source type="image/webp">
                                        <img loading="lazy" src="static/images/book-covers/postmistress-front.png"
                                            srcset="static/images/book-covers/postmistress-front.png"
                                            class="d-block mx-auto book-posters"
                                            alt="The Postmistress of Nong Khai - Book Cover">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row mx-auto">
                            <div class="col-12 mb-3 book-carousel">
                                <a href="{{url_for('book2')}}">
                                    <picture>
                                        <source type="image/webp">
                                        <img loading="lazy" src="static/images/book-covers/changmai-front.png"
                                            srcset="static/images/book-covers/changmai-front.png"
                                            class="d-block mx-auto book-posters"
                                            alt="The Chiang Mai Assignment - Book Cover">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row mx-auto book-carousel">
                            <div class="col-12 mb-3">
                                <a href="{{url_for('book3')}}">
                                    <picture>
                                        <source type="image/webp">
                                        <img loading="lazy" src="static/images/book-covers/mekong-front.png"
                                            srcset="static/images/book-covers/mekong-front.png"
                                            class="d-block mx-auto book-posters" alt="Mekong Dragon - Book Cover">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row mx-auto book-carousel">
                            <div class="col-12 mb-3">
                                <a href="{{url_for('book4')}}">
                                    <picture>
                                        <source type="image/webp">
                                        <img loading="lazy" src="static/images/book-covers/peccavi-front.png"
                                            srcset="static/images/book-covers/peccavi-front.png"
                                            class="d-block mx-auto book-posters" alt="The Paccavi Plot - Book Cover">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


        </div>
    </div>

    <!--Footer-->
    <footer class="container-fluid" id="wrapper">
        <div class="row footer">
            <div class="col-lg-6 text-center twitter-instagram">
                <a href="https://twitter.com/frankhurstbooks" class="pr-3"><i class="fab fa-2x fa-twitter"></i></a>
                <a href="https://www.instagram.com/frankhurstuk/" class="pr-3"><i
                        class="fab fa-2x fa-instagram"></i></a>
                <a href="https://www.amazon.co.uk/Frank-Hurst/e/B075P75Q4N?ref_=dbs_p_pbk_r00_abau_000000"><i
                        class="fab fa-2x fa-amazon" id="amazon-color"></i></a>
            </div>
            <div class="col-lg-6 text-center copyright-website">
                <p class="mb-1"><i class="far fa-copyright"></i>&ensp;2021 Frank Hurst</p>
                <div class="website">
                    <p class="mb-0 mt-0">Website - <a href="https://murraybealby.com/">Murray Bealby</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <!--AOS Animation-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    {% block scripts %} {% endblock %}
    <!-- OS Animation -->
    <script>
        AOS.init();
    </script>
</body>

</html>