{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">The Golden Triangle Trilogy</p>
        </div>
    </div>
</div>

<div class="container top-block">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container">
    <div class="row mt-2">
        <!--Header for sm/md-->
        <h3 class="text-center pt-1 mb-5 text-muted mx-auto d-lg-none pl-1 pr-1">The Postmistress of Nong Khai</h3>
        <div class="col-md-12 col-lg-6 text-center my-auto">
            <img src="static/images/book-covers/postmistress-front.png"
                class="img-fluid book-images image-shadow book-mb book-spacing-a" alt="The Postmistress of Nong Khai" />

            <img src="static/images/book-covers/postmistress-back.png"
                class="img-fluid book-images image-shadow book-mb book-spacing-b" alt="The Postmistress of Nong Khai" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Postmistress of Nong Khai</h2>
            <p class="text-muted content-mb">
                Mike Rawlin, an ambitious Customs Intelligence officer, is posted to the British Embassy in Bangkok,
                where he is tasked with infiltrating a dangerous band of drug smugglers in the infamous and remote
                Golden Triangle.
                Passion, deception and intrigue provide a heady mix in this fast-paced crime thriller set in London and
                Thailand. A highly entertaining read, The Postmistress of Nong Khai is full of fascinating and elusive
                characters and
                will appeal to readers who enjoy being kept guessing until the very end.
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-6 amazonbuy-align amazon-margin">
                    <a href="https://www.amazon.co.uk/Postmistress-Nong-Khai-Frank-Hurst/dp/1785890573/"
                        class="amazon-btn icon-shadow" target="_blank">
                        <i id=icon class="fab fa-amazon"></i>
                        <span id="text">&nbsp;&nbsp;Amazon</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 buy-align amazon-margin">
                    <a href="https://www.troubador.co.uk/bookshop/crime-and-thrillers/the-postmistress-of-nong-khai/"
                        class="mango-btn icon-shadow" target="_blank">
                        <i class="fas fa-shopping-cart"></i>
                        <span id="text">&nbsp;&nbsp;Troubador</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 mt-5 text-muted">
        <div class="col-12">
            <!--Header for sm/md-->
            <h3 class="text-left mt-3 d-lg-none content-mb">REVIEWS</h3>
            <!--Header for lg-->
            <h2 class="text-left mt-3 d-none d-lg-block">REVIEWS</h2>
        </div>
        <div class="col-sm-12 col-md-6 book-pr content-para">
            <h4 class="text-left pt-4 content-mb mb-3">Hugely Enjoyable</h4>
            <p class="content-mb">
                <i>
                    "A sheer delight of a read. Intriguing plot with believable characters, locations you can smell
                    and
                    taste and a climactic finish which leaves you craving for more. A sequel is a must, as Mike
                    Rawlin
                    still has unfinished
                    business."
                </i>
            </p>
        </div>
        <div class="col-sm-12 col-md-6 book-pl content-para">
            <h4 class="text-left pt-4 content-mb mb-3">Really Very Good Indeed</h4>
            <p class="content-mb">
                <i>
                    "Initially an impulse buy this novel by Frank Hurst is totally engrossing and gives a vivid
                    insight
                    into the world of international drug smugglers and those whose job it is to catch them. This
                    tale
                    captures the essence of
                    the chase, together with a highly charged love interest leaves you longing to pick up the
                    sequel.
                    Well done Mr Hurst."
                </i>
            </p>
        </div>
    </div>

    <!-- Scroll to top of page arrow -->
    <button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
</div>

{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
<!-- AOS Animation-->
<script>
    AOS.init();
</script>

{% endblock %}