{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Books</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row no-gutters">
        <div class="col-12">
            <h2 class="text-left pt-4">The Peccavi Plot</h2>
            <p class="text-left pt-4">
                Frank has just completed his latest novel ‘The Peccavi Plot’, a nineteenth century crime and espionage
                thriller. When Marylebone hansom cab driver, Henry Gough is forced to cross the line of Victorian
                respectability in order to
                feed his family, he is drawn towards city districts awash with vice and crime. Stumbling onto a
                clandestine
                plot that will imperil his country, he turns informer and embarks on a dramatic adventure beset with
                danger.
                The story
                draws us effortlessly and in some style into the narrow, dimly-lit streets of London’s East End and to
                the
                grand estates of Tsarist Russia where foreign forces seek to challenge British imperial ambitions in the
                Orient. Brimming
                with political intrigue, riddles, romance, violence and deception, this is a fabulous story with more
                than a
                grain of truth at its core … Published by LR Price Publishing, ‘The Peccavi Plot’ is expected to be
                launched
                in the
                summer of 2021.
            </p>
        </div>
        <div class="col-12">
            <h2 class="text-left pt-4">The Golden Triangle Trilogy</h2>
        </div>
        <div class="col-12">
            <p class="text-left pt-4">
                In his Golden Triangle Trilogy, Frank Hurst takes us into the treacherous and often violent world of
                late
                twentieth century global drugs smuggling. The stories follow the adventures of British intelligence
                officer
                Mike Rawlin as
                he struggles to capture Bartholomew Vanderpool, a dangerous and cruel international heroin trafficker.
                The
                books possess a unique authenticity, effortlessly steering the reader behind the scenes, including a
                fascinating and
                exhilarating journey from the steamy opium jungles of South East Asia to the chilly corridors of power
                in
                London where deception and conspiracy loom at every turn. The first tale in the series The Postmistress
                of
                Nong Khai sees
                Rawlin, a much-respected agent of the Crown, fall for his bewitching informant, setting him on a path
                that
                could wreck his investigation and destroy his life. A spellbinding read about an officer on the edge –
                the
                edge of
                self-indulgence, the edge of legality and the edge of loyalty. In the second novel, The Chiang Mai
                Assignment, after a period of enforced confinement and against the advice of many of his fellow
                officers,
                Rawlin is dispatched to
                the mountains and sweltering forests of northern Thailand. Here he accepts an offer from MI6 to help him
                trap his long-time adversary. But all is not what it seems and he finds himself locked into a three-way
                struggle from which
                there can only be one victor. The final tale of the trilogy, Mekong Dragon, sees a reversal of roles as
                Mike
                Rawlin becomes the prey rather than the huntsman. When his nemesis decides to retaliate, Rawlin’s
                survival
                depends as
                much on his courage and ingenuity as on the loyalty of others. Passion, intrigue and duplicity provide a
                heady mix in these vivid stories woven together with an authenticity and knowledge of the international
                drugs scene few, if
                any, can match.
            </p>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-2">
            <img src="static/images/book-covers/postmistress.jpg" class="img-fluid"
                alt="The Postmistress of Nong Khai - Book Cover" />
        </div>
        <div class="col-lg-10">
            <h3 class="text-left pt-4">The Postmistress of Nong Khai</h3>
            <p>
                Mike Rawlin, an ambitious Customs Intelligence officer, is posted to the British Embassy in Bangkok,
                where he is tasked with infiltrating a dangerous band of drug smugglers in the infamous and remote
                Golden Triangle.
                Passion, deception and intrigue provide a heady mix in this fast-paced crime thriller set in London
                and
                Thailand. A highly entertaining read, The Postmistress of Nong Khai is full of fascinating and
                elusive
                characters and
                will appeal to readers who enjoy being kept guessing until the very end.
            </p>
            <a href="https://www.amazon.co.uk/Postmistress-Nong-Khai-Frank-Hurst/dp/1785890573/" class="amazon-btn"
                target="_blank"> <i class="fab fa-amazon"></i>Buy Amazon</a>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-2">
            <img src="static/images/book-covers/changmai.jpg" class="img-fluid"
                alt="The Chiang Mai Assignment - Book Cover" />
        </div>
        <div class="col-lg-10">
            <h3 class="text-left pt-4">The Chiang Mai Assignment</h3>
            <p>
                When MI6 offer to help Customs trap an international drugs smuggler all is not what it seems… In his
                long-awaited sequel to the acclaimed The Postmistress of Nong Khai, Frank Hurst takes us on an
                exhilarating and fascinating
                journey through the dangerous opium jungles of the Golden Triangle and the corridors of power in
                London
                where deception and conspiracy loom large at every turn.
            </p>
            <a href="https://www.amazon.co.uk/Chiang-Mai-Assignment-Frank-Hurst/dp/1641530251/" class="amazon-btn"
                target="_blank"> <i class="fab fa-amazon"></i>&ensp;&ensp;Buy Amazon</a>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-2">
            <img src="static/images/book-covers/mekong.jpg" class="img-fluid" alt="Mekong Dragon - Book Cover" />
        </div>
        <div class="col-lg-10">
            <h3 class="text-left pt-4">Mekong Dragon</h3>
            <p>
                When the hunter becomes the hunted… When intelligence officer Mike Rawlin becomes the assassination
                target of an international drugs smuggler his world descends into chaos … In the much-anticipated
                final
                story of the Golden
                Triangle Trilogy, Frank Hurst provides another spell-binding trip into the world of international
                crime
                and the steamy jungles of South East Asia. Brimming with secrets, romance, rivalry and deception,
                this
                is an epic story
                in its own right.
            </p>
            <a href="https://www.amazon.co.uk/gp/product/1641532599" class="amazon-btn" target="_blank"> <i
                    class="fab fa-amazon"></i>&ensp;&ensp;Buy Amazon</a>
        </div>
    </div>
</div>

{% endblock %}