{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">New Release</p>
        </div>
    </div>
</div>

<div class="container top-block">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container">
    <div class="row margin-about-section1">
        <!--Header for sm/md-->
        <h2 class="text-center pt-1 mb-5 text-muted mx-auto d-lg-none">The Peccavi Plot</h2>
        <div class="col-md-12 col-lg-6 text-center my-auto">
            <img src="static/images/book-covers/peccavi_plot_mockups.png" class="img-fluid book-mb"
                alt="The Peccavi Plot - Book Cover" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Peccavi Plot</h2>
            <p class="text-muted content-mb">
                Frank has just completed his latest novel ‘The Peccavi Plot’, a nineteenth century crime and
                espionage
                thriller.</p>
            <p class="text-muted content-mb">When Marylebone hansom cab driver, Henry Gough is forced to cross the line
                of Victorian
                respectability in order
                to feed his family, he is drawn towards city districts awash with vice and crime. Stumbling onto a
                clandestine plot that will imperil his country, he turns informer and embarks on a dramatic
                adventure
                beset with danger.</p>
            <p class="text-muted content-mb">The
                story draws us effortlessly and in some style into the narrow, dimly-lit streets of London’s East
                End
                and to the grand estates of Tsarist Russia where foreign forces seek to challenge British imperial
                ambitions in the
                Orient. Brimming with political intrigue, riddles, romance, violence and deception, this is a
                fabulous
                story with more than a grain of truth at its core...</p>
            <p class="text-muted content-mb">Published by LR Price Publishing, ‘The Peccavi
                Plot’
                is out now</p>
            <div class="row">
                <div class="col-sm-12 col-md-6 amazonbuy-align amazon-margin">
                    <a href="" class="amazon-btn icon-shadow" target="_blank">
                        <i id=icon class="fab fa-amazon"></i>
                        <span id="text">&ensp;&ensp;Amazon</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 buy-align amazon-margin">
                    <a href="" class="mango-btn icon-shadow" target="_blank">
                        <i class="fas fa-shopping-cart"></i>
                        <span id="text">&ensp;&ensp;&ensp;L. R. Price&ensp;&ensp;&ensp;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 text-muted">
        <div class="col-12">
            <!--Header for sm/md-->
            <h3 class="text-left mt-3 mb-3 d-lg-none content-mb" data-aos="fade-up" data-aos-duration="1200">REVIEWS
            </h3>
            <!--Header for lg-->
            <h2 class="text-left mt-3 mb-3 d-none d-lg-block" data-aos="fade-up" data-aos-duration="1200">REVIEWS</h2>
        </div>
        <div class="col-sm-12 col-md-6 book-pr" data-aos="fade-up-left" data-aos-duration="1200">
            <p class="content-mb">
                <i>“a hugely entertaining and credible tale”</i><br>
                <i>“transports the reader back to Victorian England”</i><br>
                <i>“enthralling”</i><br>
                <i>“brilliant and believable characters”</i>
            </p>
        </div>
        <div class="col-sm-12 col-md-6 book-pl" data-aos="fade-up-right" data-aos-duration="1200">
            <p class="content-mb">
                <i>“a true historical adventure”</i><br>
                <i>a well researched, gripping and intriguing plot”</i><br>
                <i>“a classic - a barnstorming read”</i>
            </p>
        </div>
    </div>

    <!-- Scroll to top of page arrow -->
    <div class="page-top-button shadow-sm rounded-0 border border-black">
        <a class="page-top-link d-flex h-100">
            <i class="fas fa-chevron-up text-black mx-auto my-auto"></i>
        </a>
    </div>
</div>

{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
<!-- AOS Animation-->
<script>
    AOS.init();
</script>

{% endblock %}