{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">The Golden Triangle Trilogy</p>
        </div>
    </div>
</div>

<div class="container top-block">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container">
    <div class="row margin-about-section1">
        <!--Header for sm/md-->
        <h3 class="text-center pt-1 mb-5 text-muted mx-auto d-lg-none">The Chiang Mai Assignment</h3>
        <div class="col-md-12 col-lg-6 text-center my-auto">
            <img src="static/images/book-covers/changmai-front.png"
                class="img-fluid book-images image-shadow book-mb book-spacing-a myImg" alt="The Chiang Mai Assignment - 
                Book Cover Front" />

            <img src="static/images/book-covers/changmai-back.png"
                class="img-fluid book-images image-shadow book-mb book-spacing-b myImg"
                alt="The Chiang Mai Assignment - Book Cover Back" />

            <!-- Modal -->
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01" />
                <div id="caption"></div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Chiang Mai Assignment</h2>
            <p class="text-muted content-mb">
                When MI6 offer to help Customs trap an international drugs smuggler all is not what it seems… In his
                long-awaited sequel to the acclaimed The Postmistress of Nong Khai, Frank Hurst takes us on an
                exhilarating and fascinating
                journey through the dangerous opium jungles of the Golden Triangle and the corridors of power in London
                where deception and conspiracy loom large at every turn.
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-6 amazonbuy-align amazon-margin">
                    <a href="https://www.amazon.co.uk/Chiang-Mai-Assignment-Frank-Hurst/dp/1641530251/"
                        class="amazon-btn icon-shadow" target="_blank">
                        <i id=icon class="fab fa-amazon"></i>
                        <span id="text">&ensp;&ensp;Amazon</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 buy-align amazon-margin">
                    <a href="https://booksmango.shop/shop/fiction/the-chiang-mai-assignment/"
                        class="mango-btn icon-shadow" target="_blank">
                        <i class="fas fa-shopping-cart"></i>
                        <span id="text">&ensp;&ensp;Books Mango</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 text-muted">
        <div class="col-12">
            <!--Header for sm/md-->
            <h3 class="text-left mt-3 d-lg-none content-mb data-aos=" fade-up" data-aos-duration="1200"">REVIEWS</h3>
            <!--Header for lg-->
            <h2 class=" text-left mt-3 d-none d-lg-block" data-aos="fade-up" data-aos-duration="1200">REVIEWS</h2>
        </div>
        <div class="col-sm-12 col-md-6 book-pr content-para" data-aos="fade-up" data-aos-duration="1200">
            <h4 class="text-left pt-4 content-mb mb-3">Couldn’t Put It Down</h4>
            <p class="content-mb">
                <i>
                    "Thank you Mr Hurst for this truly enjoyable book. Gave me a fascinating insight into a dangerous
                    world. It felt very authentic and in the end I couldn’t put the book down. There are some great
                    characters in the story
                    too, which had such an unexpected twist that it has left me wanting more!"
                </i>
            </p>
        </div>
        <div class="col-sm-12 col-md-6 book-pl content-para" data-aos="fade-up" data-aos-duration="1200">
            <h4 class="text-left pt-4 content-mb mb-3">Fabulous Sequel</h4>
            <p class="content-mb">
                <i>
                    "The first book in this trilogy sets the scene and this is a wonderful continuation of the story!
                    Second book has a better pace than the first, with interesting character developments. Who knows
                    what's in store for the third book ... ?"
                </i>
            </p>
        </div>
    </div>

    <!-- Scroll to top of page arrow -->
    <button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
</div>

{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/modal-book1.js') }}"></script>
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
<!-- AOS Animation-->
<script>
    AOS.init();
</script>

{% endblock %}