{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="text-left pt-4">The Chiang Mai Assignment</h1>
    </div>
    <div class="col-md-12 col-lg-6">
        <img id="myImg3" src="static/images/book-covers/changmai.jpg" class="img-fluid book-images"
            alt="The Chiang Mai Assignment" />
        <img id="myImg4" src="static/images/book-covers/changmai-back.jpeg" class="img-fluid book-images"
            alt="The Chiang Mai Assignment" />

        <!-- Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

    </div>
    <div class="col-md-12 col-lg-6 my-auto ml-auto">
        <p>When MI6 offer to help Customs trap an international drugs smuggler all is not what it seems… In his
            long-awaited sequel to the acclaimed The Postmistress of Nong Khai, Frank Hurst takes us on an exhilarating
            and fascinating journey through the dangerous opium jungles of the Golden Triangle and the corridors of
            power in London where deception and conspiracy loom large at every turn.
        </p>
        <a href="https://www.amazon.co.uk/Chiang-Mai-Assignment-Frank-Hurst/dp/1641530251/" class="amazon-btn"
            target="_blank">
            <i class="fab fa-amazon"></i>&ensp;&ensp;Buy Amazon</a>
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="text-left mt-5 pt-4">Reviews</h1>
        </div>
        <div class="col-6">
            <h3 class="text-left pt-4">Couldn’t put it down</h3>
            <p>
                <i>Thank you Mr Hurst for this truly enjoyable book. Gave me a fascinating insight into a dangerous
                    world. It felt very authentic and in the end I couldn’t put the book down. There are some great
                    characters in the story too, which had such an unexpected twist that it has left me wanting
                    more!</i>
            </p>
        </div>
        <div class="col-6">
            <h3 class="text-left pt-4">Fabulous sequel</h3>
            <p>
                <i>The first book in this trilogy sets the scene and this is a wonderful continuation of the story!
                    Second book has a better pace than the first, with interesting character developments. Who knows
                    what's in store for the third book ... ?</i>
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/modal-book2.js') }}"></script>

{% endblock %}