{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">The Golden Triangle Trilogy</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5 mb-3">
        <h2 class="text-left pt-1 mb-5 text-muted mx-auto d-lg-none">The Peccavi Plot</h2>
        <div class="col-md-12 col-lg-6 text-center my-auto">
            <img id="myImg" src="static/images/book-covers/postmistress-front.png"
                class="img-fluid book-images image-shadow book-mb mr-1" alt="The Postmistress of Nong Khai" />

            <img id="myImg2" src="static/images/book-covers/postmistress-back.png"
                class="img-fluid book-images image-shadow book-mb ml-1" alt="The Postmistress of Nong Khai" />

            <!-- Modal -->
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto">
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Peccavi Plot</h2>
            <p class="text-muted">Frank’s first book, ‘The Postmistress of Nong Khai’ was the first of three in his
                ‘Golden Triangle’
                series.
                The second ‘The Chiang Mai Assignment’ was published in November 2017 and the final book of the trilogy
                ‘Mekong Dragon’ was published June 2019. His books, which have received wide acclaim, are authentic
                crime
                thrillers based in England and Thailand. They follow the adventures of intelligence officer Mike Rawlin
                as
                he tries to capture a dangerous international drugs trafficker in South East Asia. Frank was himself a
                former drugs intelligence officer who travelled widely during his career and his writing has the ring of
                authenticity on every page. The books are about secrets, romance, and rivalry in the dangerous jungles
                of
                the Golden Triangle and the corridors of power in London where deception and conspiracy loom at every
                turn.
            </p>
        </div>
    </div>

    <div class="row no-gutters mb-5 text-muted">
        <div class="col-12">
            <h2 class="text-left mt-5 book-pr">REVIEWS</h2>
        </div>
        <div class="col-sm-12 col-md-6 pr-5">
            <h4 class="text-left pt-4">Hugely Enjoyable</h4>
            <p>
                <i>A sheer delight of a read. Intriguing plot with believable characters, locations you can smell
                    and
                    taste and a climactic finish which leaves you craving for more. A sequel is a must, as Mike
                    Rawlin
                    still has unfinished business.</i>
            </p>
        </div>
        <div class="col-sm-12 col-md-6 book-pl">
            <h4 class="text-left pt-4">Really Very Good Indeed</h4>
            <p>
                <i>Initially an impulse buy this novel by Frank Hurst is totally engrossing and gives a vivid
                    insight
                    into the world of international drug smugglers and those whose job it is to catch them. This
                    tale
                    captures the essence of the chase, together with a highly charged love interest leaves you
                    longing
                    to pick up the sequel. Well done Mr Hurst.</i>
            </p>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/modal-book1.js') }}"></script>

{% endblock %}