{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="text-left pt-4">The Postmistress of Nong Khai</h1>
    </div>
    <div class="col-md-12 col-lg-6">
        <img id="myImg" src="static/images/book-covers/postmistress.jpg" class="img-fluid book-images"
            alt="The Peccavi Plot - Book Cover" />

        <!-- Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

        <img src="static/images/book-covers/postmistress-back.jpeg" class="img-fluid book-images"
            alt="The Peccavi Plot - Book Cover" />
    </div>
    <div class="col-md-12 col-lg-6 my-auto ml-auto">
        <p>Frank’s first book, ‘The Postmistress of Nong Khai’ was the first of three in his ‘Golden Triangle’ series.
            The second ‘The Chiang Mai Assignment’ was published in November 2017 and the final book of the trilogy
            ‘Mekong Dragon’ was published June 2019. His books, which have received wide acclaim, are authentic crime
            thrillers based in England and Thailand. They follow the adventures of intelligence officer Mike Rawlin as
            he tries to capture a dangerous international drugs trafficker in South East Asia. Frank was himself a
            former drugs intelligence officer who travelled widely during his career and his writing has the ring of
            authenticity on every page. The books are about secrets, romance, and rivalry in the dangerous jungles of
            the Golden Triangle and the corridors of power in London where deception and conspiracy loom at every turn.
        </p>
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="text-left mt-5 pt-4">Reviews</h1>
        </div>
        <div class="col-6">
            <h3 class="text-left pt-4">Hugely Enjoyable</h3>
            <p>
                <i>A sheer delight of a read. Intriguing plot with believable characters, locations you can smell and
                    taste and a climactic finish which leaves you craving for more. A sequel is a must, as Mike Rawlin
                    still has unfinished business.</i>
            </p>
        </div>
        <div class="col-6">
            <h3 class="text-left pt-4">Really Very Good Indeed</h3>
            <p>
                <i>Initially an impulse buy this novel by Frank Hurst is totally engrossing and gives a vivid insight
                    into the world of international drug smugglers and those whose job it is to catch them. This tale
                    captures the essence of the chase, together with a highly charged love interest leaves you longing
                    to pick up the sequel. Well done Mr Hurst.</i>
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/modal.js') }}"></script>

{% endblock %}