{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">New Release</p>
        </div>
    </div>
</div>

<div class="container top-block">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container">
    <div class="row mb-5">
        <!--Header for sm/md-->
        <h2 class="text-center pt-1 mb-5 text-muted mx-auto d-lg-none">The Story of JETT - <i>The Quest Begins</i></h2>
        <div class="col-md-12 col-lg-6 text-center my-auto">
            <img src="static/images/book-covers/the_story_of_jett_v3.jpg" class="img-fluid book-mb"
                alt="The Story of JETT - The Quest Begins" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para">
            <!--Header for lg-->
            <h2 class="text-left mt-5 mb-3 text-muted d-none d-lg-block">The Story of JETT - <i>The Quest Begins</i>
            </h2>
            <p class="text-muted content-mb">The second book in the exhilarating Story of Jett series sees ten-year-old
                Jett embark on an expedition to find
                his parents. His quest, set on a remote moon in a distant part of our galaxy, is full of intrigue and
                his journey
                soon becomes perilous in the extreme.</p>
            <p class="text-muted content-mb">To triumph, he must be brave and resourceful. He will need all his
                newly learned espionage skills if he is to defeat the dangerous forces railed against him. They will do
                all in
                their power to stop him. But as he tackles each new dangerous challenge, he discovers that hitherto
                sworn
                enemies can be kinder than he imagined. They are prepared to lend a hand too.</p>
            <div class="row">
                <div class="col-sm-12 col-md-6 amazonbuy-align amazon-margin">
                    <a href="https://www.amazon.co.uk/Story-Jett-Quest-Begins/dp/1836280629"
                        class="amazon-btn icon-shadow" target="_blank">
                        <i id=icon class="fab fa-amazon"></i>
                        <span id="text">&nbsp;&nbsp;Amazon</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Scroll to top of page arrow -->
    <button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
</div>

{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
<!-- AOS Animation-->
<script>
    AOS.init();
</script>

{% endblock %}