{% extends 'base.html' %}

{% block content %}

<div class="row no-gutters">
    <div class="col-12">
        <h1 class="text-left pt-4">Mekong Dragon</h1>
    </div>
    <div class="col-md-12 col-lg-6">
        <img id="myImg5" src="static/images/book-covers/mekong.jpg" class="img-fluid book-images"
            alt="The Chiang Mai Assignment" />
        <img id="myImg6" src="static/images/book-covers/mekong-back.jpeg" class="img-fluid book-images"
            alt="The Chiang Mai Assignment" />

        <!-- Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

    </div>
    <div class="col-md-12 col-lg-6 my-auto ml-auto">
        <p>When the hunter becomes the hunted… When intelligence officer Mike Rawlin becomes the assassination target of
            an international drugs smuggler his world descends into chaos … In the much-anticipated final story of the
            Golden Triangle Trilogy, Frank Hurst provides another spell-binding trip into the world of international
            crime and the steamy jungles of South East Asia. Brimming with secrets, romance, rivalry and deception, this
            is an epic story in its own right.
        </p>
        <a href="https://www.amazon.co.uk/gp/product/1641532599" class="amazon-btn" target="_blank">
            <i class="fab fa-amazon"></i>&ensp;&ensp;Buy Amazon</a>
    </div>
    <div class="row no-gutters mb-5">
        <div class="col-12">
            <h1 class="text-left mt-5 pt-4">Reviews</h1>
        </div>
        <div class="col-6">
            <h3 class="text-left pt-4">Tense absorbing read.</h3>
            <p>
                <i>That was some saga with a tense nail-biting conclusion. Enjoyable as a individual read but I do
                    recommend initially reading the previous two to complete the trilogy. I certainly got a sense of all
                    the different characters both good and evil and it opened my eyes to the nasty world of the drug
                    trade. Thoroughly enjoyed the atmospheric drama, well portrayed in Frank Hurst's writing of a
                    country he obviously knows well.</i>
            </p>
        </div>
        <div class="col-6">
            <h3 class="text-left pt-4">Great book to keep you interested</h3>
            <p>
                <i>Having read the previous two books in this series i was keen to read Mekong Dragon. Well i was not
                    disappointed the story continued from the previous books keeping me gripped all the way through.
                    Frank Hurst has done a fantastic job with Mekong Dragon and will hopefully write some more
                    books.</i>
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/modal-book3.js') }}"></script>

{% endblock %}