{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Books</p>
        </div>
    </div>
</div>

<div class="container top-block">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container">

    <!--The Shrouded Coast-->
    <div class="row mt-4 mb-4 pb-3 pt-2">
        <!--Header for sm/md-->
        <h3 class="text-left pt-1 mb-5 text-muted mx-auto d-lg-none">The Shrouded Coast</h3>
        <div class="col-md-12 col-lg-6 text-center my-auto">
            <img src="static/images/book-covers/the_shrouded_coast_2.jpeg" class="img-fluid book-mb pl-3 pr-3"
                alt="The Shrouded Coast - Book Cover" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Shrouded Coast</h2>
            <p class="text-muted content-mb">1881. When Henry Gough journeys to a remote and mysterious Cornish village
                steeped in secrets, what begins as a quiet investigation quickly descends into chaos when he uncovers a
                tangled web of vicious smugglers, strange hauntings, and long- buried grudges.</p>
            <p class="text-muted content-mb">The mystery only deepens when the local parson collapses at the font of his
                church under suspicious circumstances. As Henry delves further into the darkness surrounding the
                village, he finds himself pulled into a dangerous game—where every shadow hides a secret, and every ally
                might be a foe…</p>
            <div class="row">
                <div class="col-sm-12 col-md-8 buy-align amazon-margin">
                    <a href="https://bookguild.co.uk/bookshop/crime-and-thrillers/the-shrouded-coast"
                        class="mango-btn icon-shadow" target="_blank">
                        &nbsp;&nbsp;<i class="fas fa-shopping-cart"></i>
                        <span id="text">&nbsp;&nbsp;&nbsp;Book Guild&nbsp;&nbsp;&nbsp;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--The Story of JETT - The Quest Begins-->
    <div class="row mt-4 mb-4 pb-3 pt-2">
        <!--Header for sm/md-->
        <h3 class="text-left pt-1 mb-5 text-muted mx-auto d-lg-none" data-aos="fade-up" data-aos-duration="1200">The
            Story of JETT - <i>The Quest Begins</i></h3>
        <div class="col-md-12 col-lg-6 text-center my-auto" data-aos="fade-up" data-aos-duration="1200">
            <img src="static/images/book-covers/the_story_of_jett_v3.jpg" class="img-fluid book-mb"
                alt="The Story of JETT - The Quest Begins" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para" data-aos="fade-up" data-aos-duration="1200">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Story of JETT - <i>The Quest Begins</i>
            </h2>
            <p class="text-muted content-mb">The second book in the exhilarating Story of Jett series sees ten-year-old
                Jett embark on an expedition to find
                his parents. His quest, set on a remote moon in a distant part of our galaxy, is full of intrigue and
                his journey
                soon becomes perilous in the extreme.</p>
            <p class="text-muted content-mb">To triumph, he must be brave and resourceful. He will need all his
                newly learned espionage skills if he is to defeat the dangerous forces railed against him. They will do
                all in
                their power to stop him. But as he tackles each new dangerous challenge, he discovers that hitherto
                sworn
                enemies can be kinder than he imagined. They are prepared to lend a hand too.</p>
            <div class="row">
                <div class="col-sm-12 col-md-8 buy-align amazon-margin">
                </div>
            </div>
        </div>
    </div>

    <!--The Bangkok Betrayal-->
    <div class="row mt-4 mb-4 pb-3 pt-2">
        <!--Header for sm/md-->
        <h3 class="text-left pt-1 mb-5 text-muted mx-auto d-lg-none" data-aos="fade-up" data-aos-duration="1200">The
            Bangkok Betrayal</h3>
        <div class="col-md-12 col-lg-6 text-center my-auto" data-aos="fade-up" data-aos-duration="1200">
            <img src="static/images/book-covers/bangkok_betrayal_v2.jpg" class="img-fluid book-mb"
                alt="The Bangkok Betrayal - Book Cover" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para" data-aos="fade-up" data-aos-duration="1200">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Bangkok Betrayal</h2>
            <p class="text-muted content-mb">An extraordinary turn of events sees cab proprietor, Henry Gough propelled
                from the familiar streets of Victorian London
                into the grip of a stirring adventure, full of danger, political intrigue and ruthless treachery in
                faraway Siam.</p>
            <p class="text-muted content-mb">When Henry becomes the only witness to the brutal murder of his passenger
                on one of London's richest avenues, he is
                given a clandestine mission to perform - one which will end on the banks of Bangkok's steamy Chao Phraya
                River. As he
                uncovers a sinister plot that will bring chaos to Siam, Henry draws ever closer to revealing the
                assassin's true
                identity, and is forced to confront powerful forces that threaten his own life.</p>
            <p class="text-muted content-mb">As Britain and France's colonial ambitions clash inside the court of King
                Chulalongkorn, the scene is set for a bitter
                struggle that will decide the fate of Siam itself.</p>
            <p class="text-muted content-mb">The Bangkok Betrayal is a breathtaking addition to the series of Henry
                Gough novels that began with The Peccavi Plot.</p>
            <p class="text-muted content-mb">“While twists and turns abound, the story retains the authenticity for
                which Hurst's writing is so renowned.”</p>
            <div class="row">
                <div class="col-sm-12 col-md-8 buy-align amazon-margin">
                    <a href="https://bookguild.co.uk/bookshop/the-bangkok-betrayal/" class="mango-btn icon-shadow"
                        target="_blank">
                        &nbsp;&nbsp;<i class="fas fa-shopping-cart"></i>
                        <span id="text">&nbsp;&nbsp;&nbsp;Book Guild&nbsp;&nbsp;&nbsp;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--The Story of Jett-->
    <div class="row mt-4 mb-4 pb-3 pt-2">
        <!--Header for sm/md-->
        <h3 class="text-left pt-1 mb-5 text-muted mx-auto d-lg-none" data-aos="fade-up" data-aos-duration="1200">The
            Story of Jett</h3>
        <div class="col-md-12 col-lg-6 text-center my-auto" data-aos="fade-up" data-aos-duration="1200">
            <img src="static/images/book-covers/the_story_of_jett_v2.jpg" class="img-fluid book-mb"
                alt="The Stroy of Jett - Book Cover" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para" data-aos="fade-up" data-aos-duration="1200">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Story of Jett</h2>
            <p class="text-muted content-mb">
                The Story of Jett is set in a distant corner of our galaxy on the moon Trident, one of the swirling
                satellites of the
                planet Neptuna. It is the story of an eight-year-old boy's mission to find his long-lost family and will
                thrill younger
                readers who enjoy adventure books or listening to bedtime stories read to them by adults.</p>
            <p class="text-muted content-mb">Fully illustrated in gloriously vibrant colours by the highly acclaimed
                artist, Susy Jones, this is a must read for all
                youngsters who relish exciting tales, vibrant characters and stories with plenty of surprises.</p>
            <div class="row">
                <div class="col-sm-12 col-md-8 buy-align amazon-margin" data-aos="fade-up" data-aos-duration="1200">
                    <a href="https://www.troubador.co.uk/bookshop/young-children/the-story-of-jett"
                        class="mango-btn icon-shadow" target="_blank">
                        &nbsp;&nbsp;<i class="fas fa-shopping-cart"></i>
                        <span id="text">&nbsp;&nbsp;Troubador&nbsp;&nbsp;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--The Peccavi Plot-->
    <div class="row mt-0 pb-4">
        <!--Header for sm/md-->
        <h3 class="text-left pt-1 mb-5 text-muted mx-auto d-lg-none" data-aos="fade-up" data-aos-duration="1200">The
            Peccavi Plot</h3>
        <div class="col-md-12 col-lg-6 text-center my-auto" data-aos="fade-up" data-aos-duration="1200">
            <img src="static/images/book-covers/peccavi-front.png" class="img-fluid-peccavi book-mb"
                alt="The Peccavi Plot - Book Cover" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para" data-aos="fade-up" data-aos-duration="1200">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Peccavi Plot</h2>
            <p class="text-muted content-mb">
                Frank has just completed his latest novel 'The Peccavi Plot', a nineteenth century crime and
                espionage
                thriller.</p>
            <p class="text-muted content-mb">When Marylebone hansom cab driver, Henry Gough is forced to cross the line
                of Victorian
                respectability in order
                to feed his family, he is drawn towards city districts awash with vice and crime. Stumbling onto a
                clandestine plot that will imperil his country, he turns informer and embarks on a dramatic
                adventure
                beset with danger.</p>
            <p class="text-muted content-mb">The
                story draws us effortlessly and in some style into the narrow, dimly-lit streets of London’s East
                End
                and to the grand estates of Tsarist Russia where foreign forces seek to challenge British imperial
                ambitions in the
                Orient. Brimming with political intrigue, riddles, romance, violence and deception, this is a
                fabulous
                story with more than a grain of truth at its core...</p>
            <p class="text-muted content-mb">Published by The Book Guild 'The Peccavi
                Plot' will be published with a new cover in October</p>
            <div class="row">
                <div class="col-sm-12 col-md-6 amazonbuy-align amazon-margin" data-aos="fade-up"
                    data-aos-duration="1200">
                    <a href="https://www.amazon.co.uk/Peccavi-Plot-Frank-Hurst/dp/1916887430/ref=sr_1_1?dchild=1&keywords=frank+hurst&qid=1633111758&qsid=259-8625805-4306969&sr=8-1&sres=1916887430%2CB01E762FUK%2CB076BLGX54%2C1641532599%2C1411632990%2C1849044880%2C0966974808%2C1270204394%2CB000000A8T%2C1849047987%2CB01F9QKOC8%2C1850651663%2CB004RPITSY%2C1849042888%2CB08KM7R7T1%2C1787380270&srpt=ABIS_BOOK"
                        class="amazon-btn icon-shadow" target="_blank">
                        <i id=icon class="fab fa-amazon"></i>
                        <span id="text">&nbsp;&nbsp;Amazon</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 buy-align amazon-margin" data-aos="fade-up" data-aos-duration="1200">
                    <a href="https://bookguild.co.uk/bookshop/the-peccavi-plot/" class="mango-btn icon-shadow"
                        target="_blank">
                        &nbsp;&nbsp;<i class="fas fa-shopping-cart"></i>
                        <span id="text">&nbsp;&nbsp;&nbsp;Book Guild&nbsp;&nbsp;&nbsp;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 pb-3">
        <div class="col-md-12 my-auto ml-auto content-para" data-aos="fade-up" data-aos-duration="1200">
            <!--Header for sm/md-->
            <h3 class="text-center pt-4 mb-3 text-muted d-lg-none">THE GOLDEN TRIANGLE TRILOGY</h3>
            <!--Header for lg-->
            <h2 class="text-center pt-4 mb-3 text-muted d-none d-lg-block">THE GOLDEN TRIANGLE TRILOGY</h2>
            <p class="text-left pt-4 text-muted content-mb">
                In his Golden Triangle Trilogy, Frank Hurst takes us into the treacherous and often violent world of
                late twentieth century global drugs smuggling. The stories follow the adventures of British intelligence
                officer Mike
                Rawlin as he struggles to capture Bartholomew Vanderpool, a dangerous and cruel international heroin
                trafficker. The books possess a unique authenticity, effortlessly steering the reader behind the scenes,
                including a
                fascinating and exhilarating journey from the steamy opium jungles of South East Asia to the chilly
                corridors of power in London where deception and conspiracy loom at every turn.
            </p>

            <p class="text-left text-muted content-mb">Passion, intrigue and duplicity provide a heady mix in these
                vivid stories woven together with an authenticity and knowledge of the international drugs scene few, if
                any, can match.</p>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-md-12 col-lg-6 text-center my-auto d-lg-none" data-aos="fade-up" data-aos-duration="1200">
            <img src="static/images/book-covers/trilogy.png" class="img-fluid book-mb"
                alt="The Golden Triangle Trilogy" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para" data-aos="fade-up" data-aos-duration="1200">
            <p class="text-left text-muted content-mb">
                The first tale in the series <strong>The Postmistress of Nong Khai</strong> sees Rawlin, a
                much-respected agent of the Crown, fall for his bewitching informant, setting him on a path that could
                wreck his investigation and
                destroy his life. A spellbinding read about an officer on the edge – the edge of self-indulgence, the
                edge of legality and the edge of loyalty.
            </p>

            <p class="text-left text-muted content-mb">
                In the second novel, <strong>The Chiang Mai Assignment</strong>, after a period of enforced confinement
                and against the advice of many of his fellow officers, Rawlin is dispatched to the mountains and
                sweltering forests of
                northern Thailand. Here he accepts an offer from MI6 to help him trap his long-time adversary. But all
                is not what it seems and he finds himself locked into a three-way struggle from which there can only be
                one victor.
            </p>

            <p class="text-left text-muted content-mb">
                The final tale of the trilogy, <strong>Mekong Dragon</strong>, sees a reversal of roles as Mike Rawlin
                becomes the prey rather than the huntsman. When his nemesis decides to retaliate, Rawlin’s survival
                depends as much on
                his courage and ingenuity as on the loyalty of others.
            </p>
        </div>
        <div class="col-md-12 col-lg-6 text-center my-auto d-none d-lg-block" data-aos="fade-up"
            data-aos-duration="1200">
            <img src="static/images/book-covers/trilogy.png" class="img-fluid book-mb"
                alt="The Peccavi Plot - Book Cover" />
        </div>
    </div>

    <div class="row mt-3 pb-4">
        <!--Header for sm/md-->
        <h3 class="text-center pt-1 mb-5 text-muted mx-auto d-lg-none pl-1 pr-1" data-aos="fade-up"
            data-aos-duration="1200">The Postmistress of Nong Khai</h3>
        <div class="col-md-12 col-lg-6 text-center my-auto" data-aos="fade-up" data-aos-duration="1200">
            <img src="static/images/book-covers/postmistress-front.png"
                class="img-fluid index-book-image image-shadow book-mb"
                alt="The Postmistress of Nong Khai - Book Cover" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para" data-aos="fade-up" data-aos-duration="1200">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Postmistress of Nong Khai</h2>
            <p class="text-muted content-mb">
                Mike Rawlin, an ambitious Customs Intelligence officer, is posted to the British Embassy in Bangkok,
                where he is tasked with infiltrating a dangerous band of drug smugglers in the infamous and remote
                Golden Triangle.
                Passion, deception and intrigue provide a heady mix in this fast-paced crime thriller set in London and
                Thailand. A highly entertaining read, The Postmistress of Nong Khai is full of fascinating and elusive
                characters and
                will appeal to readers who enjoy being kept guessing until the very end.
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-6 amazonbuy-align amazon-margin" data-aos="fade-up"
                    data-aos-duration="1200">
                    <a href="https://www.amazon.co.uk/Postmistress-Nong-Khai-Frank-Hurst/dp/1785890573/"
                        class="amazon-btn icon-shadow" target="_blank">
                        <i id=icon class="fab fa-amazon"></i>
                        <span id="text">&nbsp;&nbsp;Amazon</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 buy-align amazon-margin" data-aos="fade-up" data-aos-duration="1200">
                    <a href="https://www.troubador.co.uk/bookshop/crime-and-thrillers/the-postmistress-of-nong-khai/"
                        class="mango-btn icon-shadow" target="_blank">
                        &nbsp;&nbsp;<i class="fas fa-shopping-cart"></i>
                        <span id="text">&nbsp;&nbsp;Troubador&nbsp;&nbsp;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 pb-4">
        <!--Header for sm/md-->
        <h3 class="text-center pt-1 mb-5 text-muted mx-auto d-lg-none" data-aos="fade-up" data-aos-duration="1200">The
            Chiang Mai Assignment</h3>
        <div class="col-md-12 col-lg-6 text-center my-auto" data-aos="fade-up" data-aos-duration="1200">
            <img src="static/images/book-covers/changmai-front.png"
                class="img-fluid index-book-image image-shadow book-mb" alt="The Chiang Mai Assignment - Book Cover" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para" data-aos="fade-up" data-aos-duration="1200">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Chiang Mai Assignment</h2>
            <p class="text-muted content-mb">
                When MI6 offer to help Customs trap an international drugs smuggler all is not what it seems… In his
                long-awaited sequel to the acclaimed The Postmistress of Nong Khai, Frank Hurst takes us on an
                exhilarating and fascinating
                journey through the dangerous opium jungles of the Golden Triangle and the corridors of power in London
                where deception and conspiracy loom large at every turn.
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-6 amazonbuy-align amazon-margin" data-aos="fade-up"
                    data-aos-duration="1200">
                    <a href="https://www.amazon.co.uk/Chiang-Mai-Assignment-Frank-Hurst/dp/1641530251/"
                        class="amazon-btn icon-shadow" target="_blank">
                        <i id=icon class="fab fa-amazon"></i>
                        <span id="text">&nbsp;&nbsp;Amazon</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 buy-align amazon-margin" data-aos="fade-up" data-aos-duration="1200">
                    <a href="https://www.troubador.co.uk/bookshop/crime-and-thrillers/the-chiang-mai-assignment/"
                        class="mango-btn icon-shadow" target="_blank">
                        &nbsp;&nbsp;<i class="fas fa-shopping-cart"></i>
                        <span id="text">&nbsp;&nbsp;Troubador&nbsp;&nbsp;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 margin-about-section4">
        <!--Header for sm/md-->
        <h3 class="text-left pt-1 mb-5 text-muted mx-auto d-lg-none" data-aos="fade-up" data-aos-duration="1200">Mekong
            Dragon</h3>
        <div class="col-md-12 col-lg-6 text-center my-auto" data-aos="fade-up" data-aos-duration="1200">
            <img src="static/images/book-covers/mekong-front.png"
                class="img-fluid index-book-image image-shadow book-mb" alt="Mekong Dragon - Book Cover" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para" data-aos="fade-up" data-aos-duration="1200">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">Mekong Dragon</h2>
            <p class="text-muted content-mb">
                When the hunter becomes the hunted… When intelligence officer Mike Rawlin becomes the assassination
                target of an international drugs smuggler his world descends into chaos … In the much-anticipated final
                story of the Golden
                Triangle Trilogy, Frank Hurst provides another spell-binding trip into the world of international crime
                and the steamy jungles of South East Asia. Brimming with secrets, romance, rivalry and deception, this
                is an epic story
                in its own right.
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-6 amazonbuy-align amazon-margin" data-aos="fade-up"
                    data-aos-duration="1200">
                    <a href="https://www.amazon.co.uk/gp/product/1641532599" class="amazon-btn icon-shadow"
                        target="_blank">
                        <i id=icon class="fab fa-amazon"></i>
                        <span id="text">&nbsp;&nbsp;Amazon</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 buy-align amazon-margin" data-aos="fade-up" data-aos-duration="1200">
                    <a href="https://www.troubador.co.uk/bookshop/crime-and-thrillers/mekong-dragon/"
                        class="mango-btn icon-shadow" target="_blank">
                        &nbsp;&nbsp;<i class="fas fa-shopping-cart"></i>
                        <span id="text">&nbsp;&nbsp;Troubador&nbsp;&nbsp;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to top of page arrow -->
    <button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
</div>

{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
<!-- AOS Animation-->
<script>
    AOS.init();
</script>

{% endblock %}