{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Contact</p>
        </div>
    </div>
</div>

<div class="container top-block">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container">
    <div class="row margin-about-section1">
        <div class="col-sm-12 col-md-6 my-auto">
            <img src="static/images/contact/contact.jpg"
                class="img-fluid image-shadow news-book-image mx-auto d-none d-lg-block" alt="Frank Hurst - Laptop" />
        </div>
        <div class="col-sm-12 col-md-6 my-auto text-muted contact-links">
            <div class="mb-5 content-mb">
                <!--Header for sm/md-->
                <h3 class="text-left d-lg-none mb-3"><i class="far fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;Frank Hurst
                </h3>
                <!--Header for lg-->
                <h2 class="text-left d-none d-lg-block mb-3"><i
                        class="far fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;Frank Hurst</h2>
                <p>For press enquiries or further information, please email:</p>
                <p>
                    <a href="mailto:frankhurstbooks@outlook.com?">
                        <i class="fas fa-chevron-right"></i>&nbsp;&nbsp; frankhurstbooks@outlook.com
                        <span class="sr-only">Email</span>
                    </a>
                </p>
            </div>
            <div class="mb-5 content-mb">
                <!--Header for sm/md-->
                <h3 class="text-left d-lg-none mb-3"><i class="fas fa-book-open"></i>&nbsp;&nbsp;&nbsp;&nbsp;Publishers
                </h3>
                <!--Header for lg-->
                <h2 class="text-left d-none d-lg-block mb-3"><i
                        class="fas fa-book-open"></i>&nbsp;&nbsp;&nbsp;Publishers</h2>
                <p>
                    <a href="https://www.lrpricepublications.com/" target="_blank"><i
                            class="fas fa-chevron-right"></i>&nbsp;&nbsp; L. R. Price Publications</a>
                </p>
                <p>
                    <a href="https://booksmango.com/" target="_blank"><i class="fas fa-chevron-right"></i>&nbsp;&nbsp;
                        Books Mango</a>
                </p>
            </div>
            <div class="mb-5 content-mb">
                <!--Header for sm/md-->
                <h3 class="text-left d-lg-none mb-3"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;&nbsp;Book Cover
                    Design</h3>
                <!--Header for lg-->
                <h2 class="text-left d-none d-lg-block mb-3"><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;&nbsp;Book
                    Cover
                    Design</h2>
                <p>
                    <a href="http://www.paulmclaughlindesign.com/" target="_blank"><i
                            class="fas fa-chevron-right"></i>&nbsp;&nbsp;
                        Paul McLaughlin</a>
                </p>
            </div>
            <div class="content-mb">
                <!--Header for sm/md-->
                <h3 class="text-left d-lg-none mb-3"><i class="fas fa-globe-europe"></i>&nbsp;&nbsp;&nbsp;&nbsp;Web
                    Design</h3>
                <!--Header for lg-->
                <h2 class="text-left d-none d-lg-block mb-3"><i
                        class="fas fa-globe-europe"></i>&nbsp;&nbsp;&nbsp;&nbsp;Web Design</h2>
                <p>
                    <a href="https://www.murraybealby.com/" target="_blank"><i
                            class="fas fa-chevron-right"></i>&nbsp;&nbsp;
                        Murray Bealby</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Scroll to top of page arrow -->
    <button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
</div>

{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

{% endblock %}