{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Contact</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row margin-about-section1">
        <div class="col-sm-12 col-md-6">
            <img src="static/images/contact/contact.jpg"
                class="img-fluid image-shadow news-book-image mx-auto d-none d-md-block d-lg-none d-none d-lg-block d-xl-none d-none d-xl-block"
                alt="Frank Hurst - Laptop" />
        </div>
        <div class="col-sm-12 col-md-6 my-auto text-muted">
            <h2>Frank Hurst</h2>
            <p>For press enquiries of further information, please email me.</p>
            <h2>Publishers</h2>
            <p>For press enquiries of further information, please email me.</p>
            <h2>Web Design</h2>
            <p>For press enquiries of further information, please email me.</p>
        </div>
    </div>
</div>

{% endblock %}