{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Gallery</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row margin-about-section1">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="static/images/gallery/mekong/mk1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mekong Hunger</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="{{url_for('galleryMekong')}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="static/images/gallery/temples/temp7.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Temples & Tonsures</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="{{url_for('galleryTemples')}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="static/images/gallery/sunsets/sunset50.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Siamese Sunsets</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="{{url_for('gallerySunset')}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="static/images/gallery/farms/farm50.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Farm & Farmers</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="{{url_for('galleryFarm')}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="static/images/gallery/forests/forest50.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fabulous Forests</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="{{url_for('galleryForest')}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}