{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Farms & Farmers</p>
        </div>
    </div>
</div>

<div class="container top-block">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row margin-about-section1">
        <div class="col-12 text-center mb-4 gallery-back">
            <a href="{{url_for('gallery')}}">
                <h3><i class="fas fa-chevron-left"></i>&ensp;Gallery</h3>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm2.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm3.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm4.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm7.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm8.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm10.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm11.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm12.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/hfarm1.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/hfarm2.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/hfarm3.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/hfarm4.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/hfarm5.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/hfarm6.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/hfarm7.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/hfarm8.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/lfarm1.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/lfarm2.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/lfarm3.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/lfarm4.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/lfarm5.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/lfarm6.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/lfarm7.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/lfarm8.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm14.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm15.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm16.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm17.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img src="static/images/gallery/farms/farm18.png" class="img-fluid gallery-images image-shadow"
                alt="Farm & Farmers" />
        </div>

    </div>

    <!-- Scroll to top of page arrow -->
    <button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
</div>

{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

{% endblock %}