{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Temples & Tonsures</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row margin-about-section1">
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk7.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk2.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk3.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk4.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk5.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk6.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk8.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk9.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk10.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk11.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk12.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk13.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
    </div>
</div>

{% endblock %}