{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Gallery</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row margin-about-section1">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="row">
                <div class="col-12">
                    <img src="static/images/gallery/mekong/mk1.png" class="img-fluid gallery-images"
                        alt="Mekong Food + Beer + Book">
                </div>
                <div class="col-12">
                    <h2 class="text-muted mb-4">Mekong Hunger</h2>
                    <p class="text-muted">Some images of the fantastic local food I encountered during my travels along
                        the mighty Mekong. There were a few beers taken too!</p>
                    <a href="{{url_for('galleryMekong')}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="row">
                <div class="col-12">
                    <img src="static/images/gallery/temples/temp7.png" class="img-fluid gallery-images"
                        alt="Buddha Temple">
                </div>
                <div class="col-12">
                    <h2 class="text-muted mb-4">Temples & Tonsures</h2>
                    <p class="text-muted">South East Asia is steeped in its spiritual past. A pervasive sense of
                        quiet
                        calm always wrapped around me each time I encountered these magical places.</p>
                    <a href="{{url_for('galleryTemples')}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="row">
                <div class="col-12">
                    <img src="static/images/gallery/sunsets/sunset50.png" class="img-fluid gallery-images" alt="Sunset">
                </div>
                <div class="col-12">
                    <h2 class="text-muted mb-4">Siamese Sunsets</h2>
                    <p class="text-muted">At the end of a long day my camera was always drawn towards the sunset.
                        The
                        river Mekong, as it winds past Nong Khai, seemed to yield more varied and striking images
                        than I
                        could have ever imagined.</p>
                    <a href="{{url_for('gallerySunset')}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="row">
                <div class="col-12">
                    <img src="static/images/gallery/farms/farm50.png" class="img-fluid gallery-images" alt="Farmer">
                </div>
                <div class="col-12">
                    <h2 class="text-muted mb-4">Farm & Farmers</h2>
                    <p class="text-muted">The hospitality and welcome I received from the rural peoples who work the
                        great tracts of land around the Mekong was both extraordinary and genuinely touching. I am
                        so
                        fortunate to count some as my friends.</p>
                    <a href="{{url_for('galleryFarm')}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="row">
                <div class="col-12">
                    <img src=" static/images/gallery/forests/forest18.png" class="img-fluid gallery-images" alt="Tree">
                </div>

                <div class="col-12">
                    <h2 class="text-muted mb-4">Fabulous Forests</h2>
                    <p class="text-muted">Cathedral-like in their magnificence, the forests of Northern Thailand are
                        achingly beautiful, and remain havens for nature in its many forms. Simply wonderful places!
                    </p>
                    <a href="{{url_for('galleryForest')}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}