{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">The Peccavi Plot Book Launch</p>
        </div>
    </div>
</div>

<div class="container top-block">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row margin-about-section1">
        <div class="col-12 text-center mb-4 gallery-back">
            <a href="{{url_for('gallery')}}">
                <h3><i class="fas fa-chevron-left"></i>&ensp;Gallery</h3>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/lr-price/lr-price-v.png"
                class="img-fluid gallery-images image-shadow myImg" alt="The Peccavi Plot Book Launch" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/lr-price/lr-price-v2.png"
                class="img-fluid gallery-images image-shadow myImg" alt="The Peccavi Plot Book Launch" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/lr-price/lr-price-v4.png"
                class="img-fluid gallery-images image-shadow myImg" alt="The Peccavi Plot Book Launch" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/lr-price/lr-price-v5.png"
                class="img-fluid gallery-images image-shadow myImg" alt="The Peccavi Plot Book Launch" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/lr-price/lr-price-h.png"
                class="img-fluid gallery-images image-shadow myImg" alt="The Peccavi Plot Book Launch" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/lr-price/lr-price-h2.png"
                class="img-fluid gallery-images image-shadow myImg" alt="The Peccavi Plot Book Launch" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/lr-price/lr-price-h3.png"
                class="img-fluid gallery-images image-shadow myImg" alt="The Peccavi Plot Book Launch" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/lr-price/lr-price-h4.png"
                class="img-fluid gallery-images image-shadow myImg" alt="The Peccavi Plot Book Launch" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/lr-price/lr-price-h5.png"
                class="img-fluid gallery-images image-shadow myImg" alt="The Peccavi Plot Book Launch" />
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01" />
            <div id="caption"></div>
        </div>
    </div>

    <!-- Scroll to top of page arrow -->
    <div class="page-top-button shadow-sm rounded-0 border border-black">
        <a class="page-top-link d-flex h-100">
            <i class="fas fa-chevron-up text-black mx-auto my-auto"></i>
        </a>
    </div>
</div>

{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/modal-book1.js') }}"></script>
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

{% endblock %}