{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Mekong Hunger</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row margin-about-section1">
        <div class="col-12 text-center mb-4 gallery-back">
            <a href="{{url_for('gallery')}}">
                <h3><i class="fas fa-chevron-left"></i>&ensp;Gallery</h3>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk7.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Mekong Hunger" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk2.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Mekong Hunger" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk3.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Mekong Hunger" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk4.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Mekong Hunger" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk5.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Mekong Hunger" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk6.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Mekong Hunger" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk8.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Mekong Hunger" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk9.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Mekong Hunger" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk10.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Mekong Hunger" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk11.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Mekong Hunger" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk12.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Mekong Hunger" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/mekong/mk13.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Mekong Hunger" />
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/modal-book1.js') }}"></script>

{% endblock %}