{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Fabulous Forests</p>
        </div>
    </div>
</div>

<div class="container top-block">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row margin-about-section1">
        <div class="col-12 text-center mb-4 gallery-back">
            <a href="{{url_for('gallery')}}">
                <h3><i class="fas fa-chevron-left"></i>&ensp;Gallery</h3>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest1.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest2.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest3.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest4.png"
                class="img-fluid gallery-images image-shadow myImg" alt="TFabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest5.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest6.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest7.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest8.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest9.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest10.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest11.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest12.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest13.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest14.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest15.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest16.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest17.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/forests/forest18.png"
                class="img-fluid gallery-images image-shadow myImg" alt="Fabulous Forests" />
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01" />
            <div id="caption"></div>
        </div>
    </div>

    <!-- Scroll to top of page arrow -->
    <button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
</div>

{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/modal-book1.js') }}"></script>
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

{% endblock %}