{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Farms & Farmers</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row margin-about-section1">
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5 zoom">
            <img src="static/images/gallery/farms/farm1.png" class="img-fluid gallery-images image-shadow"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/farms/farm2.png" class="img-fluid gallery-images image-shadow"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/farms/farm3.png" class="img-fluid gallery-images image-shadow"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/farms/farm4.png" class="img-fluid gallery-images image-shadow"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/farms/farm5.png" class="img-fluid gallery-images image-shadow"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/farms/farm6.png" class="img-fluid gallery-images image-shadow"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/farms/farm7.png" class="img-fluid gallery-images image-shadow"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/farms/farm8.png" class="img-fluid gallery-images image-shadow"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/farms/farm9.png" class="img-fluid gallery-images image-shadow"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/farms/farm10.png" class="img-fluid gallery-images image-shadow"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/farms/farm11.png" class="img-fluid gallery-images image-shadow"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/farms/farm12.png" class="img-fluid gallery-images image-shadow"
                alt="Temples & Tonsures" />
        </div>
    </div>
</div>

{% endblock %}