{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Siamese Sunsets</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row margin-about-section1">
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset1.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset2.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset3.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset4.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset5.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset6.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset7.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset8.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset9.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset10.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset11.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset12.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset13.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset14.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset15.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/sunsets/sunset16.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
    </div>
</div>

{% endblock %}