{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Temples & Tonsures</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row margin-about-section1">
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp1.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp3.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp4.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp5.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp6.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp7.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp8.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp9.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp10.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp11.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp12.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp13.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp14.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp15.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp16.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp17.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp18.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp19.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp20.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 text-center pt-4 pb-5">
            <img id="myImg" src="static/images/gallery/temples/temp21.png" class="img-fluid gallery-images"
                alt="Temples & Tonsures" />
        </div>
    </div>
</div>

{% endblock %}