{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Gallery</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row margin-about-section1">
        <div>
            <h1>Hoverbox Image Gallery</h1>
            <ul class="hoverbox">
                <li>
                    <a href="#"><img src="img/photo01.jpg" alt="description" /><img src="img/photo01.jpg"
                            alt="description" class="preview" /></a>
                </li>
                <li>
                    <a href="#"><img src="img/photo02.jpg" alt="description" /><img src="img/photo02.jpg"
                            alt="description" class="preview" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}