{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">Gallery</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-md-12 col-lg-6 gallery-padding">
            <div class="row">
                <div class="col-12 text-center mb-3">
                    <!---Header for sm/md--->
                    <h3 class="text-left mt-3 d-lg-none">Mekong Hunger</h3>
                    <!---Header for lg--->
                    <h2 class="text-left mt-3 d-none d-lg-block">Mekong Hunger</h2>
                </div>
                <div class="col-12 mb-4 mt-2 text-center">
                    <div class="hover-book">
                        <a href="{{url_for('galleryMekong')}}">
                            <img src="static/images/gallery/mekong/mk1.png"
                                class="img-fluid gallery-categories image-shadow" alt="Mekong Food + Beer + Book">
                        </a>
                    </div>
                </div>
                <div class="col-12 text-center content-para">
                    <p class="text-muted gallery-padding-p pb-2">Some images of the fantastic local food I encountered
                        during my
                        travels along the mighty Mekong. There were a few beers taken too!</p>
                    <a href="{{url_for('galleryMekong')}}" class="read-more-news"><i
                            class="fas fa-chevron-right"></i>&ensp;<i class="fas fa-eye"></i>&ensp;Gallery&ensp;<i
                            class="fas fa-chevron-left"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 gallery-padding">
            <div class="row">
                <div class="col-12 text-center mb-3">
                    <!---Header for sm/md--->
                    <h3 class="text-left mt-3 d-lg-none">Temples & Tonsures</h3>
                    <!---Header for lg--->
                    <h2 class="text-left mt-3 d-none d-lg-block">Temples & Tonsures</h2>
                </div>
                <div class="col-12 mb-4 mt-2 text-center">
                    <div class="hover-book">
                        <a href="{{url_for('galleryTemples')}}">
                            <img src="static/images/gallery/temples/temp7.png"
                                class="img-fluid gallery-categories image-shadow" alt="Buddha Temple">
                        </a>
                    </div>
                </div>
                <div class="col-12 mb-3 text-center content-para">
                    <p class="text-muted gallery-padding-p pb-2">South East Asia is steeped in its spiritual past. A
                        pervasive
                        sense
                        of
                        quiet
                        calm always wrapped around me each time I encountered these magical places.</p>
                    <a href="{{url_for('galleryTemples')}}" class="read-more-news"><i
                            class="fas fa-chevron-right"></i>&ensp;<i class="fas fa-eye"></i>&ensp;Gallery&ensp;<i
                            class="fas fa-chevron-left"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 gallery-padding">
            <div class="row">
                <div class="col-12 text-center mb-3">
                    <!---Header for sm/md--->
                    <h3 class="text-left mt-3 d-lg-none">Siamese Sunsets</h3>
                    <!---Header for lg--->
                    <h2 class="text-left mt-3 d-none d-lg-block">Siamese Sunsets</h2>
                </div>
                <div class="col-12 mb-4 mt-2 text-center">
                    <div class="hover-book">
                        <a href="{{url_for('gallerySunset')}}">
                            <img src="static/images/gallery/sunsets/sunset50.png"
                                class="img-fluid gallery-categories image-shadow" alt="Sunset">
                        </a>
                    </div>
                </div>
                <div class="col-12 text-center mb-4 content-para">
                    <p class="text-muted gallery-padding-p pb-2">At the end of a long day my camera was always drawn
                        towards the
                        sunset.
                        The
                        river Mekong, as it winds past Nong Khai, seemed to yield more varied and striking images
                        than I
                        could have ever imagined.</p>
                    <a href="{{url_for('gallerySunset')}}" class="read-more-news"><i
                            class="fas fa-chevron-right"></i>&ensp;<i class="fas fa-eye"></i>&ensp;Gallery&ensp;<i
                            class="fas fa-chevron-left"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 gallery-padding text-center">
            <div class="row">
                <div class="col-12 text-center mb-3">
                    <!---Header for sm/md--->
                    <h3 class="text-left mt-3 d-lg-none">Fabulous Forests</h3>
                    <!---Header for lg--->
                    <h2 class="text-left mt-3 d-none d-lg-block">Fabulous Forests</h2>
                </div>
                <div class="col-12 mb-4 mt-2 text-center">
                    <div class="hover-book">
                        <a href="{{url_for('galleryForest')}}">
                            <img src=" static/images/gallery/forests/forest18.png"
                                class="img-fluid gallery-categories image-shadow" alt="Tree">
                        </a>
                    </div>
                </div>
                <div class="col-12 text-center content-para">
                    <p class="text-muted gallery-padding-p pb-2">Cathedral-like in their magnificence, the forests of
                        Northern
                        Thailand are
                        achingly beautiful, and remain havens for nature in its many forms. Simply wonderful places!
                    </p>
                    <a href="{{url_for('galleryForest')}}" class="read-more-news"><i
                            class="fas fa-chevron-right"></i>&ensp;<i class="fas fa-eye"></i>&ensp;Gallery&ensp;<i
                            class="fas fa-chevron-left"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3 gallery-padding">
            <div class="row">
                <div class="col-12 text-center mb-3">
                    <!---Header for sm/md--->
                    <h3 class="text-left mt-3 d-lg-none">Fabulous Forests</h3>
                    <!---Header for lg--->
                    <h2 class="text-left mt-3 d-none d-lg-block">Fabulous Forests</h2>
                </div>
                <div class="col-12 mb-4 mt-2 mt-2 text-center">
                    <div class="hover-book">
                        <a href="{{url_for('galleryFarm')}}">
                            <img src="static/images/gallery/farms/farm50.png"
                                class="img-fluid gallery-categories image-shadow" alt="Farmer">
                        </a>
                    </div>
                </div>
                <div class="col-12 text-center content-para">
                    <p class="text-muted gallery-padding-p pb-2">The hospitality and welcome I received from the rural
                        peoples
                        who
                        work the
                        great tracts of land around the Mekong was both extraordinary and genuinely touching. I am
                        so
                        fortunate to count some as my friends.</p>
                    <a href="{{url_for('galleryFarm')}}" class="read-more-news"><i
                            class="fas fa-chevron-right"></i>&ensp;<i class="fas fa-eye"></i>&ensp;Gallery&ensp;<i
                            class="fas fa-chevron-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}