{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">New Release </p>
        </div>
    </div>
</div>

<div class="container top-block">
    <div class="row">
        <div class="col"> </div>
    </div>
</div>

<div class="container">
    <div class="row mt-0 pb-2">
        <!--Header for sm/md-->
        <h3 class="text-left pt-0 mb-3 text-muted mx-auto d-lg-none">The Shrouded Coast</h3>
        <div class="col-md-12 col-lg-6 text-center mx-auto">
            <img src="static/images/book-covers/the_shrouded_coast.jpeg" class="img-fluid book-mb home_image"
                alt="The Shrouded Coast - Book Cover Image">
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Shrouded Coast</h2>
            <p class="text-muted content-mb">
                Frank's latest novel in his 'Hansom Cab' series is now finished.</p>
            <p class="text-muted content-mb">Set in Victorian England, 'The Shrouded
                Coast' sees Henry Gough travel to remote Cornwall where he encounters a veritable web of intrigue and
                mystery involving a gang of vicious smugglers, strange hauntings, murder and revenge.</p>
            <p class="text-muted content-mb">The scene is set
                for another thrilling adventure which will test Henry's courage and resolve, and bring him to the brink
                in more ways than one...</p>
            <p class="text-muted content-mb">Publication is scheduled for later this year.</p>
        </div>
    </div>

    <!-- Scroll to top of page arrow -->
    <button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

</div>


{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/scroll.js') }}">
</script> {% endblock %}