{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <p>
            MEKONG DRAGON NOW AVAILABLE!
            Mekong Dragon: When the hunter becomes the hunted

            When intelligence officer Mike Rawlin becomes the assassination target of an international drugs smuggler
            his world descends into chaos … In the much-anticipated final story of the Golden Triangle Trilogy, Frank
            Hurst provides another spell-binding trip into the world of international crime and the steamy jungles of
            South East Asia. Brimming with secrets, romance, rivalry and deception, this is an epic story in its own
            right.

            Buy it now at Amazon, or Books Mango.
        </p>
    </div>
</div>

{% endblock %}