{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">New Release</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5 mb-5">
        <!--Header for sm/md-->
        <h3 class="text-left pt-1 mb-5 text-muted mx-auto d-lg-none">The Peccavi Plot</h3>
        <div class="col-md-12 col-lg-6 text-center my-auto">
            <img src="static/images/book-covers/paccavi-front.png"
                class="img-fluid index-book-image image-shadow book-mb" alt="The Peccavi Plot - Book Cover" />
        </div>
        <div class="col-md-12 col-lg-6 my-auto ml-auto content-para">
            <!--Header for lg-->
            <h2 class="text-left pt-4 mb-3 text-muted d-none d-lg-block">The Peccavi Plot</h2>
            <p class="text-muted content-mb">
                Frank has just completed his latest novel ‘The Peccavi Plot’, a nineteenth century crime and espionage
                thriller. When Marylebone hansom cab driver, Henry Gough is forced to cross the line of Victorian
                respectability in order
                to feed his family, he is drawn towards city districts awash with vice and crime. Stumbling onto a
                clandestine plot that will imperil his country, he turns informer and embarks on a dramatic adventure
                beset with danger. The
                story draws us effortlessly and in some style into the narrow, dimly-lit streets of London’s East End
                and to the grand estates of Tsarist Russia where foreign forces seek to challenge British imperial
                ambitions in the
                Orient. Brimming with political intrigue, riddles, romance, violence and deception, this is a fabulous
                story with more than a grain of truth at its core … Published by LR Price Publishing, ‘The Peccavi Plot’
                is expected to
                be launched in the summer of 2021.
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-6 amazonbuy-align amazon-margin">
                    <a href="" class="amazon-btn" target="_blank">
                        <i id=icon class="fab fa-amazon"></i>
                        <span id="text">&ensp;&ensp;Amazon</span>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 buy-align amazon-margin">
                    <a href="" class="mango-btn" target="_blank">
                        <i class="fas fa-shopping-cart"></i>
                        <span id="text">&ensp;&ensp;&ensp;L. R. Price&ensp;&ensp;&ensp;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to top of page arrow -->
    <div class="page-top-button shadow-sm rounded-0 border border-black">
        <a class="page-top-link d-flex h-100">
            <i class="fas fa-chevron-up text-black mx-auto my-auto"></i>
        </a>
    </div>
</div>

{% endblock %} {% block scripts %}

<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

{% endblock %}