{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 gradient page-header">
      <p class="text-center pt-4">Latest News</p>
    </div>
  </div>
</div>

<div class="container top-block">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

<div class="container">
  <!-- News Feed 12 - August - 2023 -->
  <div class="row margin-news-section1">
    <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
      <h4 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">
        The Story of JETT
      </h4>
      <div class="row">
        <div class="col-12">
          <img src="static/images/news/the_story_of_jett.jpg" class="img-fluid image-shadow news-book-image"
            alt="Book cover image for the story of jett" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
      <h3 class="d-none d-lg-block">
        The Story of JETT
      </h3>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <h5 class="pt-2">August 2023</h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto text-muted"></div>
      </div>
      <p class="pt-2 news-mb">
        Troubador Publishing has just finalised the cover of Frank's first children's book, aimed at 8-11 year olds.
        Full
        publication and distribution is due for 28th October 2023.
      </p>
      <p>
        The design relies heavily on the wonderfully vivid illustrations produced by Susy Jones. Huge thanks to all
        those who
        helped make this happen!
      </p>
    </div>
  </div>
  <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>
  <!-- News Feed 11 - July - 2023 -->
  <div class="row margin-news-section1">
    <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
      <h4 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">
        The Bangkok Betrayal
      </h4>
      <div class="row">
        <div class="col-12">
          <img src="static/images/news/the_bangkok_betrayal.jpg" class="img-fluid image-shadow news-book-image"
            alt="A montage of colonial images from the boer war" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
      <h3 class="d-none d-lg-block">
        The Bangkok Betrayal
      </h3>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <h5 class="pt-2">July 2023</h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto text-muted"></div>
      </div>
      <p class="pt-2 news-mb">
        Frank Hurst has just completed his latest novel, the second exhilarating story of his new Hansom Cab Trilogy.
      </p>
      <p>
        An extraordinary turn of events sees cab proprietor, Henry Gough propelled from the familiar streets of
        Victorian London into the grip of a stirring adventure, full of danger, political intrigue and ruthless
        treachery in faraway
        Siam.
      </p>
      <p>
        When Henry becomes the only witness to the brutal murder of his passenger on one of London's richest avenues, he
        is
        given a clandestine mission to perform - one which will end on the banks of Bangkok's steamy Chao Phraya River.
        As he
        uncovers a sinister plot that will bring chaos to Siam, Henry draws ever closer to revealing the assassin's true
        identity, and is forced to confront powerful forces that threaten his own life.
      </p>
      <p>
        As Britain and France's colonial ambitions clash inside the court of King Chulalongkorn, the scene is set for a
        bitter struggle that will decide the fate of Siam itself.
      </p>
      <p>
        The Bangkok Betrayal is a breathtaking addition to the series of Henry Gough novels that began with The Peccavi
        Plot.
      </p>
      <p>
        “A must read - a cracking tale that will transport readers to another world; full of wonderful and believable
        characters.”
      </p>
      <p>
        “While twists and turns abound, the story retains the authenticity for which Hurst's writing is so renowned.”
      </p>
    </div>
  </div>
  <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>
  <!-- News Feed 9 Mar - 2023 -->
  <div class="row margin-news-section1">
    <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
      <h4 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">
        Sequel to The Peccavi Plot
      </h4>
      <div class="row">
        <div class="col-12">
          <img src="static/images/news/the-peccavi-plot-news.jpg" class="img-fluid image-shadow news-book-image"
            alt="Frank Hurst against background of temples. Photo of laptop and pen" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
      <h3 class="d-none d-lg-block">
        Sequel to The Peccavi Plot
      </h3>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <h5 class="pt-2">Mar 2023</h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto text-muted"></div>
      </div>
      <p class="pt-2 news-mb">
        The sequel to The Peccavi Plot still doesn't have a name but the manuscript is now well into its final stages.
        Who would
        have imagined a humble London hansom cab driver could have ever become embroiled in the intrigue and politics of
        the
        Royal Court of Siam! The aim is to have the first draft completed before a very different King is crowned!
        Writing in
        the peace and quiet of a tropical garden in ancient Ayutthaya certainly helps.
      </p>
    </div>
  </div>
  <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>
  <!-- News Feed 8 - Mar - 2023 -->
  <div class="row margin-news-section1">
    <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
      <h4 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">
        Troubador Publishing
      </h4>
      <div class="row">
        <div class="col-12">
          <img src="static/images/news/banner-mk.jpg" class="img-fluid image-shadow news-book-image"
            alt="Banner for Mekong Dragon" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
      <h3 class="d-none d-lg-block">
        Troubador Publishing
      </h3>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <h5 class="pt-2">Mar 2023</h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto text-muted"></div>
      </div>
      <p class="pt-2 news-mb">
        Frank is thrilled to announce that Troubador Publishing have taken on his <i>Golden Triangle Trilogy</i> in
        full. After
        successfully publishing <i>The Postmistress of Nong Khai</i> in 2016 the second and third books in the series,
        <i>The
          Chiang Mai
          Assignment</i> and Mekong Dragon have now been added to the collection, and can be explored via the Troubador
        links
        for each book.
        Many thanks must go to the excellent team at Troubador for producing such a high-quality product.
      </p>
      <div class="read-more-news-center">
        <a href="{{url_for('books')}}" class="read-more-news" target="_blank">
          <i class="fas fa-chevron-right"></i>&ensp;The Golden Triangle Trilogy&ensp;<i class="fas fa-chevron-left"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>
  <!-- News Feed 8 - 2023 -->
  <div class="row margin-news-section1">
    <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
      <h4 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">
        Evening at the Chiang Mai Gymkhana Club - a true haven
      </h4>
      <div class="row">
        <div class="col-12">
          <img src="static/images/news/chiang_mai_gymkhana_club.jpg" class="img-fluid image-shadow news-book-image"
            alt="Photo of laptop on table. Hot sun in shade. chiang Mai" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
      <h3 class="d-none d-lg-block">
        Evening at the Chiang Mai Gymkhana Club - a true haven
      </h3>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <h5 class="pt-2">Feb 2023</h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto text-muted"></div>
      </div>
      <p class="pt-2 news-mb">
        Frank arrived back in Chiang Mai in February to work on completing his sequel to 'The Peccavi Plot'. The new
        novel sees
        Henry Gough embark on a precarious journey to the mysterious Orient in search of the killer of a Siamese prince.
        Set
        both in 1880s London and Bangkok, it promises to be another story of Victorian espionage, interlaced with
        intrigue,
        danger and romance. If all goes well, publication will be in time for Christmas. What a present!
      </p>
    </div>
  </div>
  <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>
  <!-- News Feed 7 - 2021 -->
  <div class="row margin-news-section1">
    <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
      <h4 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">
        The Peccavi Plot Book Launch
      </h4>
      <div class="row">
        <div class="col-12">
          <img src="static/images/gallery/lr-price/lr-price-h.png" class="img-fluid image-shadow news-book-image"
            alt="Frank Hurst speaking at the British Library for the launch of Peccavi Plot" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
      <h3 class="d-none d-lg-block">
        The Peccavi Plot Book Launch
      </h3>
      <h5><i>British Library - LR Price</i></h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <h5 class="pt-2">Sep 2022</h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto text-muted"></div>
      </div>
      <p class="pt-2 news-mb">
        The book launch of The Peccavi Plot took place at
        the British Library
        on August 20th. My thanks to LR Price for making it such a memorable event.
      </p>
      <div class="read-more-news-center">
        <a href="{{url_for('galleryLrprice')}}" class="read-more-news" target="_blank">
          <i class="fas fa-chevron-right"></i>&ensp;Gallery&ensp;<i class="fas fa-chevron-left"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>
  <!-- News Feed 8 - May 2022 -->
  <div class="row margin-news-section1">
    <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
      <h4 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">
        Frank has just completed his first children's thriller, “The Story of
        Jett”
      </h4>
      <div class="row">
        <div class="col-12">
          <img src="static/images/news/images-jett.jpg" class="img-fluid image-shadow news-book-image"
            alt="Author Frank Hurst in Chinang Mai. Computer on table" />
        </div>

      </div>
    </div>
    <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
      <h3 class="d-none d-lg-block">
        Frank has just completed his first children's thriller,<br />
        “The Story of Jett”
      </h3>
      <h5>
        <i> </i>
      </h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <h5 class="pt-2">May 2022</h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto text-muted"></div>
      </div>
      <p class="pt-2 news-mb">
        Frank has just completed his first children’s thriller, “The Story of
        Jett”. Set in a distant corner of our galaxy on the moon Trident, one of
        the swirling satellites of the planet Neptuna, the story of an
        eight-year-old boy’s adventures to be reunited with his long-lost family
        will thrill younger readers who enjoy adventure books or listening to
        bedtime stories read to them by adults. When a natural disaster robs
        young Jett of his parents and younger brother, he sets out to find them.
        Stumbling into a hostile new world, he befriends a girl his age who can
        help him in his quest. While learning a string of life affirming lessons
        on his perilous journey, Jett discovers that his hitherto sworn enemies
        are kinder than he imagined, and are prepared to lend a hand too. Fully
        illustrated in gloriously vibrant colours by the highly acclaimed
        artist, <a href="https://www.facebook.com/susyj.eco" target="_blank">Susy Jones</a>, the
        tale is a must read for all youngsters who relish exciting tales,
        vibrant characters and a story with plenty of surprises.
      </p>
    </div>
  </div>
  <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>
  <!-- News Feed 7 - 2021 -->
  <div class="row margin-news-section1">
    <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
      <h4 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">
        Author Frank Hurst returns from Chiang Mai
      </h4>
      <div class="row">
        <div class="col-12">
          <img src="static/images/gallery/chiang/chiangh3.png" class="img-fluid image-shadow news-book-image"
            alt="Author Frank Hurst in Chinang Mai. Computer on table" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
      <h3 class="d-none d-lg-block">
        Author Frank Hurst returns from Chiang Mai
      </h3>
      <h5><i>Chiang Mai</i></h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <h5 class="pt-2">Dec 2021</h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto text-muted"></div>
      </div>
      <p class="pt-2 news-mb">
        Frank has just returned from Chiang Mai where he has been researching a
        sequel to 'The Peccavi Plot', which he plans to set in both Victorian
        London and 19th century Siam (no spoilers!) Northern Siam has a
        fascinating history - where a powerful aura of magic pervades the
        senses. Watch this space!!
      </p>
    </div>
  </div>
  <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>
  <!-- News Feed 6 - 2021 -->
  <div class="row margin-news-section1">
    <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
      <h4 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">
        Author Frank Hurst recalls his visit to the Afghan border twenty-five
        years ago and wonders if anything has changed?
      </h4>
      <div class="row">
        <div class="col-12">
          <img src="static/images/news/wom.jpeg" class="img-fluid image-shadow news-book-image"
            alt="WOM Magazine article photo. Frank Hurst in crop field" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
      <h3 class="d-none d-lg-block">
        Author Frank Hurst recalls his visit to the Afghan border twenty-five
        years ago and wonders if anything has changed?
      </h3>
      <h5><i>WOM Magazine</i></h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <h5 class="pt-2">Oct 2021</h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto text-muted"></div>
      </div>
      <p class="pt-2 news-mb">
        At the time, I was stationed in New Delhi, working for HMG to develop
        lines of intelligence to stem the flow of South West Asian heroin onto
        Britain’s streets...
      </p>
      <div class="read-more-news-center">
        <a href="https://wommagazine.co.uk/author-frank-hurst-recalls-his-visit-to-the-afghan-border-twenty-five-years-ago-and-wonders-if-anything-has-changed/?utm_source=rss&utm_medium=rss&utm_campaign=author-frank-hurst-recalls-his-visit-to-the-afghan-border-twenty-five-years-ago-and-wonders-if-anything-has-changed"
          class="read-more-news" target="_blank">
          <i class="fas fa-chevron-right"></i>&ensp;READ MORE&ensp;<i class="fas fa-chevron-left"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>

  <!-- News Feed 5 - 2021 -->
  <div class="row margin-news-section1">
    <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
      <h4 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">
        The Peccavi Plot
      </h4>
      <div class="row">
        <div class="col-12">
          <img src="static/images/book-covers/peccavi_plot_mockups.png" class="img-fluid image-shadow news-book-image"
            alt="The Peccavi Plot - Book Cover" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
      <h3 class="d-none d-lg-block">The Peccavi Plot</h3>
      <h5><i>Launch</i></h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <h5 class="pt-2">29 Sept 2021</h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto text-muted"></div>
      </div>
      <p class="pt-2">
        Frank's new book 'The Peccavi Plot' will arrive in bookshops and online
        this week, published by LR Price. A rip-roaring Victorian adventure, the
        pages are filled with romance, intrigue and danger - a novel with more
        than a grain of truth at its core. ...
        <br />
        <br />Big thanks to Paul McLaughlin for his brilliantly evocative design
      </p>
      <div class="row">
        <div class="col-sm-12 col-md-6 amazonbuy-align amazon-margin">
          <a href="https://www.amazon.co.uk/Peccavi-Plot-Frank-Hurst/dp/1916887430/ref=sr_1_1?dchild=1&keywords=frank+hurst&qid=1633111758&qsid=259-8625805-4306969&sr=8-1&sres=1916887430%2CB01E762FUK%2CB076BLGX54%2C1641532599%2C1411632990%2C1849044880%2C0966974808%2C1270204394%2CB000000A8T%2C1849047987%2CB01F9QKOC8%2C1850651663%2CB004RPITSY%2C1849042888%2CB08KM7R7T1%2C1787380270&srpt=ABIS_BOOK"
            class="amazon-btn icon-shadow" target="_blank">
            <i id="icon" class="fab fa-amazon"></i>
            <span id="text">&ensp;&ensp;Amazon</span>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 buy-align amazon-margin">
          <a href="" class="mango-btn icon-shadow" target="_blank">
            <i class="fas fa-shopping-cart"></i>
            <span id="text">&ensp;&ensp;&ensp;&ensp;L. R. Price&ensp;&ensp;&ensp;&ensp;</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>

  <!-- News Feed 4 - 2021 -->
  <div class="row margin-news-section1">
    <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
      <h4 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">
        Author Frank Hurst Discovers an Ancestor with an Extraordinary Story to
        Tell...
      </h4>
      <div class="row">
        <div class="col-6">
          <img src="static/images/news/henry-gough.png" class="img-fluid image-shadow news-book-image"
            alt="Henry Gough, my great-grandfather circa 1880 (with tints!)" />
        </div>
        <div class="col-6">
          <img src="static/images/news/caroline-buchan.png" class="img-fluid image-shadow news-book-image"
            alt="Caroline Buchan, my great-grandmother circa 1880" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
      <h3 class="d-none d-lg-block">
        Author Frank Hurst Discovers an Ancestor with an Extraordinary Story to
        Tell...
      </h3>
      <h5><i>Ancestry</i></h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <h5 class="pt-2">29 Apr 2021</h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto text-muted"></div>
      </div>
      <p class="pt-2 news-mb">
        The life of Henry Gough – A Victorian Rag to Riches Tale of Passion and
        Courage.
      </p>
      <div class="read-more-news-center">
        <!-- Trigger/Open The Modal -->
        <button type="button" class="read-more-news" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-chevron-right"></i>&ensp;READ MORE&ensp;<i class="fas fa-chevron-left"></i>
        </button>

        <!-- The Modal -->
        <div class="modal news-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <!-- Modal content -->
          <div class="news-modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3>The Life of Henry Gough</h3>
            <h3>– A Victorian Rag to Riches Tale of Passion and Courage.</h3>
            <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>
            <div class="content-mb content-para">
              {% include 'news-article.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>

  <!-- News Feed 3 - 2021 -->
  <div class="row margin-news-section1">
    <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
      <h4 class="text-muted text-left mb-5 d-lg-none text-center">
        An Author in Lockdown
      </h4>
      <img src="static/images/news/news-26april21.png" class="img-fluid image-shadow news-book-image"
        alt="Thailand Landscape" />
    </div>
    <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
      <h3 class="d-none d-lg-block">An Author in Lockdown</h3>
      <h5><i>Expat Life in Thailand</i></h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
      </div>
      <h5 class="pt-2">26 Apr 21</h5>
      <div class="col-12 p-0">
        <div class="block-divider-sub mx-auto text-muted"></div>
      </div>
      <p class="pt-2 news-mb">
        On the face of it, a global pandemic should be perfect for a writer. It
        requires society to keep itself at arms length, maintain a respectable
        social distance, visit nowhere, apart perhaps from the pharmacist or the
        greengrocer. It should be a boon for a writer. There is a perceived
        wisdom; all a writer needs is an idea, a pen and lashings of solitude –
        right? Well, only partly right. Let me explain.
      </p>
      <div class="read-more-news-center">
        <a href="https://expatlifeinthailand.com/travel-and-leisure/an-author-in-lockdown/" class="read-more-news"
          target="_blank">
          <i class="fas fa-chevron-right"></i>&ensp;READ MORE&ensp;<i class="fas fa-chevron-left"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>

  <div class="container bottom-block">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  <!-- Scroll to top of page arrow -->
  <button onclick="topFunction()" id="my-scroll-to-top-btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
</div>

{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
<!-- AOS Animation -->
<script>
  AOS.init();
</script>
{% endblock %}