<p>As a writer of thrillers and adventure novels set in the Far East, the arrival of the global pandemic left me
    stranded – in more ways than one. Over the last few years my annual routine has been exquisitely simple and
    rewardingly productive. I’d spend half of my year working, wandering and writing in South East Asia, and the
    remaining six months enjoying whatever the fickle English summer had to offer. There was balance and adventure, and
    I loved it.</p>
<p>But last year, as the spring blossomed in Sussex gardens, while I plugged away in distant Nong Khai, the COVID virus
    began to show a stubbornness of purpose that surprised many, including me. It forced me to make a fateful decision;
    I would bolt for the temporary cover of the NHS and sit things out near Brighton. Although the return to Blighty
    left me far from my much-loved wildernesses and sparkling waterfalls around the Mekong River, I consoled myself that
    the situation would be short-lived – it was a storm in a tea cup after all – a miasma that would soon pass us by.
    But as time progressed, the chances of a speedy return to the rain forest heat receded with the publication of each
    new government statistic. The reality of quarantine and self-isolation now held me in its bleak and unrelenting
    grip. </p>
<p>But I still had a book to write. I’d scoped out a novel about ancient Siam – it was going to be full of vibrant local
    characters, breath-taking mountain landscapes and intrepid European travellers. The problem was that I found myself
    struggling to muster enough inspiration to fill the empty paragraphs. In the absence of my usual hands-on approach
    to research, I travelled to the internet instead. But as time wore relentlessly on and the COVID statistics of death
    became ever more frightening, the pages of my embryonic novel remained uncomfortably blank. I became increasingly
    uneasy with each passing day. I found myself strangely discombobulated – out of sorts, almost dispirited ... Being
    detached from the region that had spawned my previous novels was more troublesome than I’d ever imagined. Now it
    seemed utterly impossible to recreate the atmosphere of the border country of the Golden Triangle. The desolate
    writing desk amid the thatched cottages and medieval castles of West Sussex simply wouldn’t cut it. </p>
<p>To jolt myself out of lethargy and stimulate the grey cells, I took on a new challenge. I decided I would research my
    family history for a few months. It had been an ambition for many years, but there had always been some excuse to
    put the project on hold; usually a lame justification to board another aeroplane in search of new horizons. Maybe
    the enforced isolation, the drip-feed of PG tips and the never changing view from my study gaol sparked something in
    me, because the plan seemed to work.</p>
<p>For the first time in months, I felt genuinely motivated. Distant memories of a bye-gone time gradually came flooding
    back. Back to a post-war, suburban London, when about seven, I’d listened, enchanted, under the snug embrace of a
    goose feather eiderdown, as my grandfather recounted the stories of his life. This he did while pacing, in almost
    military precision, to and fro at the foot of the vast borrowed bed that doubled during the day as Jim Hawkins’s
    hammock on the Hispaniola. </p>
<p>Sixty years later, a rummage in the cupboard under the stairs revealed a banded trunk from which a bundle of dusty
    documents tumbled. Within seconds, timeworn sepia photographs of long forgotten faces were peering at me from an
    unrecognisable age. A photograph of my grandfather’s father, taken around 1880, seemed to draw me in more than the
    others – the dignified gentleman in a heavy frock coat appeared to engage me with his eyes as he sat, starch-still,
    his back stiff against a heavy, upholstered chair. On his knee lay a leather-bound book as if to claim his
    scholarship. Some unknown artist had subsequently used watercolours in an attempt to tint the picture – an early
    version of Photoshop perhaps. His beard had been shaded; a touch of blue added to the eyes. It seemed luridly out of
    keeping with the otherwise sombre image of Victorian propriety, and I wished the attempt hadn’t been made. The
    colours looked false and cheap. The unnatural greenness of the book in his lap particularly grated. But as I peered
    questioningly into my great-grandfather’s freshly painted eyes, something more important struck me. I realised that
    I knew virtually nothing about him. The only facts I could dredge up came from my grandfather’s bedtime stories. I
    remember Granddad telling me proudly,</p>
<p>‘He had forty horses; you know – my father ... And stables and cabs.’</p>
<p>‘Cabs, Granddad?’</p>
<p>‘Why, yes. My father was a cab proprietor of course. He owned coaches called hansom cabs and he employed staff. He
    lived in a place called Marylebone. His job was to carry the folk of old London town wherever they wanted to go.
    There were no cars in those days – only horses.’</p>
<p>‘No cars?’ </p>
<p>‘None! I was ten before I saw my first horseless carriage,’ he’d said wistfully. ‘My father was really what you’d
    call a taxi driver nowadays. Mind you, he had his own business and he did very well for all of us – a kindly man to
    be sure.’ It was in this moment that I imagined I could see my grandfather wiping a tear from the corning of his
    eye.</p>
<p>‘All of us, Granddad?’</p>
<p>‘Oh yes, I had many brothers and sisters, there were eleven of us in all. My brothers were very good to me too,
    especially George and Arthur.’</p>
<p>‘Did you have a mother too, Granddad?’</p>
<p>‘Ah yes, but that’s another story ...’ I sensed discomfort in his voice. ‘Come on young man,’ he added hurriedly,
    ‘it’s time to go to sleep.’ And with that the bedside lamp was extinguished, he kissed me on the forehead and
    disappeared towards the soft lights of the landing.</p>
<p>So, who was my great grandfather? I decided he would be my first target. All these years later, trapped in a new
    English winter, I determined to find out as much about him as I could. And after a few months of research and
    detective work, I was glad that I’d taken the trouble – what I discovered felt like serendipity in its purest form.
</p>
<p>As I began to put the pieces of his life together, some of the revelations were quite extraordinary – so much so,
    that I decided that the telling of his story would become the primary motive for writing my new novel. The tale was
    sometimes a sad one. It made me think how hard it must have been to survive in those days – let alone be happy. But
    his life also had pizzazz. This is what I discovered.</p>
<p>My great-grandfather was Henry Gough, (latterly known also as Henry Cooper – more of that later). He was born in
    1835. Both his parents were dead by the time he was six.</p>
<p>Setbacks and tragedies such as these must have been fairly common in those days. As a mere child, Henry found himself
    in the deep end ... Would he sink or swim? Then I discovered that he entered service, working for a man called James
    Cumming, a master baker, with premises appropriately enough in Baker Street itself. </p>
<p>Maybe the bakery did not suit him for it’s not long before we learn that Henry had started working with horses. This
    would have seemed natural perhaps as it had once been the trade of his coachman father. Further proof of my
    grandfather’s bedside intelligence arrived next – evidence indicating that Henry had operated a hansom cab, the
    iconic single-horse vehicle, much loved by Sherlock Holmes and Dr Watson. It was nippy and fast, ideal for London’s
    narrow and crowded streets. Henry must have worked hard, for he prospered, and next we learn that he owned his own
    horses. And by his mid-twenties he had become a fully-fledged cab proprietor in his own right. But Henry’s settled
    life and meteoric rise were not to last. The next revelations were dramatic – to say the least.</p>
<p>Not everything centred around business and horses in Henry Gough’s Victorian existence. Far from it! I have
    unravelled quite a lot about his private life too. In 1857, aged twenty-two, my great-grandfather married Hannah.
    She was three years older than him and the daughter of a certain Charles Morrell, another cabman. The newly-weds
    took up residence in St John’s Wood. Over the next sixteen years, as Henry’s business prospered, the couple, happily
    it seems, produced no less than seven children.</p>
<p>But then around 1873, shockwaves struck. Here, my family history becomes a little complicated, and by Victorian
    standards, really rather scandalous. You may have already asked yourself the question, ‘to which of Henry and
    Hannah’s seven children is the author of this piece related?’ Well, the answer is none of them! And what follows
    next explains it all …</p>
<p>Much to my surprise, and admittedly with a large dose of supressed excitement, I came to the conclusion that by 1873,
    Henry must have been leading a double life. I discovered that my great-grandfather had been harbouring a young
    mistress a just few streets away; less than a quarter of a mile from the marital home. Her name was Caroline, she
    was eighteen years younger than him, she was of Scottish ancestry and the daughter of a certain James Buchan. He,
    unsurprisingly, was yet another cab driver. From the very few images I have of her, she must have been a beautiful
    woman, and it wasn’t long before the affair produced a child. When Caroline’s and Henry’s first baby was born in
    December 1873, Henry was thirty-nine – she was twenty-one. To add spice to the mix, the records show that at the
    time, my great-grandfather was still co-habiting with his wife and seven children. Furthermore, we learn that this
    duplicitous arrangement was to continue for a quite a while longer. We know this because the records show that a
    year after Henry’s illegitimate child was born, his wife, Hannah, gave birth to their eighth child; a son they named
    John – a half-brother for the little lad who was learning to crawl just a few blocks away. Goodness!</p>
<p>But finally, the strings of Henry’s bow became stretched too far and, in a moment that must have shaken all
    concerned, they snapped. By 1875, his marriage was in tatters. I can only speculate how the events played out. But
    for certain, Henry’s separation from Hannah, his lawful wife of eighteen years, cannot have been a clean one. The
    realisation that her husband had been fathering children with a neighbour must have come as a huge upset for the
    poor woman, not to mention her humiliation in polite society. The revelation would have also brought with it
    intrigue in large doses, and the certain knowledge of clandestine assignations between the two star-struck lovers. I
    can just imagine the rumourmongering and street-corner gossip. Oh, the shock of it all! </p>
<p>Without knowing all the facts, it’s interesting to speculate about the traumatic forces and raw emotions at work
    during the weeks, months, even years which led to my great-grandfather having to choose one woman over the other. He
    must have been torn – at least I hope so. Did he leave Hannah or was he pushed? Maybe the influence of his wife’s
    family played a part ... Perhaps they’d discovered his secret love affair – maybe they’d intervened. I’m inclined to
    suspect however, that it’s most likely that it was Henry who walked away. Divorce in those days was almost
    unthinkable. It was hugely expensive and highly complicated – something only the aristocracy were able to achieve.
    With eight young children, and a potential scandal brewing, I think it’s probable that Hannah would have wanted to
    maintain the status quo, however shallow that was – for appearances sake at least. Women in those days had little
    choice.</p>
<p>For his part, Henry would have known that in the absence of a divorce, any further children he fathered with Caroline
    would perforce be born illegitimately. But in the end, it was his infatuation for the younger woman, and the promise
    she offered of a fresh life that won the day – love and lust conquers all ... It’s the archetypal story of adultery,
    this episode played out in nineteenth century St John’s Wood – “there is nothing new under the sun.” </p>
<p>So, you’ve guessed it ... My blood line is through Caroline, the lover, the mistress, the kept woman. Caroline Buchan
    is my great-grandmother. In 1875, Henry Gough changed his name to Henry Cooper (presumably to further distance
    himself from his estranged wife and children) and moved in with Caroline. </p>
<p>The convolutions of Henry Gough’s complicated life, both business and domestic, are more than just fascinating. They
    serve to teach us a number of things. The hansom cab and coaching work force in Victorian London must have been a
    very close-knit community. In local pockets, such as St. Marylebone, Kilburn, St John’s Wood and thereabouts, the
    groups might have been akin almost to a closed shop, a kind of unofficial union where bosses and their workers
    protected themselves from outsiders. They intermarried to re-enforce the commercial ties that bound themselves to
    one another; in effect it must have been rather like a legitimate, familial mafia. Business relationships were
    intertwined; they ebbed and flowed; associations were built around horses, feed, stables, wheelwrights and their
    cabs. From this, marriages, children and extended families would have flowed. Henry is a prime example. His father
    had been a coachman, he had married a coachman’s wife, his mistress was a coachman’s daughter and his two brothers
    were also cab and horse owners. </p>
<p>After twenty years of separation, Henry’s estranged wife dies. This allows him to marry his lover, and in 1894 this
    is what he does. He was nearly sixty, Caroline was forty-two, and between them they’d already brought eleven
    children into the world. </p>
<p>A blissful ending? Not quite. The turmoil in my great-grandparents lives was to continue. There would be no happy end
    for them regrettably. By 1900, Henry’s marriage to Caroline was itself on the rocks. In a scene, seemingly drawn
    from a page of a romantic novel, Caroline eloped to Scotland with a gamekeeper by the name of John Livingstone. The
    couple “married” secretly, even though this was undoubtedly bigamous because she had never divorced Henry. The story
    passed down is that she told her daughters to inform inquisitive neighbours that she was “going away for a while to
    attend to a sick relative”. My grandfather, the youngest surviving child, was just twelve when she left, and the
    break up devasted him. I remember him speaking about it in later life with bitterness in his voice. </p>
<p>‘We had little love for our mother,’ he wrote later, ‘although she did her duty by us in her own dictatorial manner.’
</p>
<p>This seems a little harsh to me. Caroline had given birth to eleven children for Henry and had stood by him loyally
    as his business grew. But presumably she felt she’d done enough, and the love affair, that must at one time have
    been torrid and all consuming, had ended. Henry was sixty-five at the time she left him; Caroline was still in her
    forties. </p>
<p>Caroline lived until she was eighty-five. She died alone in November 1937 in a small flat in Kingston-on-Thames,
    Surrey. She’d been in failing health for some time and was living alone. The coroner recorded a heart attack. It is
    interesting to note that until the early 1930s, my grandfather and his own young family lived in Kingston-on-Thames.
    Indeed, my own father was born there. It begs some questions. Did he, her youngest surviving son, ever visit his
    mother during her declining years? Did Caroline return from Scotland to live in Kingston in order to be close to her
    old family? </p>
<p>My great-grandfather, Henry Gough died twenty-five years before Caroline, in 1912, aged 77, surrounded by the
    children and grandchildren of both his marriages. As an interesting footnote, I discovered that at the time of his
    father’s death, my grandfather knew nothing whatsoever of his eight step-brothers and sisters. This was only
    revealed to him when he met some of them as they assembled around their father’s deathbed. The existence of the
    “other family” had been kept secret from him during all the years of his childhood and adolescence. It’s hard to
    imagine what the atmosphere in that room must have been like for my grandfather as he learned the true facts of his
    father’s private life for the first time. There must have been sorrow at his father’s imminent passing; then shock
    to discover that he had unknown family; maybe horror at the realisation that he had been born out of wedlock, and
    possibly some anger mixed with black humour that it had taken a death to reveal the secrets of a whole generation. I
    suspect there must have been some grudging admiration for the dying man too. He had sired nineteen children and
    managed to forget none of them. </p>
<p>For me, Henry Gough, my great-grandfather has turned out to be a bit of a local hero. I accept he must have possessed
    great faults – one cannot just set aside his colourful life or his infidelities with the swish of a pen. They are
    inescapable. In his defence, I have discovered that he made sure to provide for all his children, from both
    relationships, some of whom, like my grandfather, went on to greater things. How he achieved this remains a total
    mystery. Considering their number, it’s interesting to speculate how my great-grandfather made all his money. I
    picture him atop the hansom, flicking his horse forwards, searching out custom, delving into all corners of the
    greatest city in the world. The contrasts must have been stark – an opportunity to mix with both the “great and
    good” and hack it with the less savoury criminal classes too – all in a single day. From riches to rags during a
    night-time’s shift,</p>
<p>Through it all, I’m left with an image of a man with courage, determination and dash. A man with a romantic streak, a
    sensual side; an opportunist perhaps, who was unafraid to break the conventions of his age. Henry Gough inherited
    nothing but bequeathed much. Orphaned so young, rising out of poverty, becoming the father of so many offspring from
    two separate families under two different names; it must have been quite a bumpy life’s journey. Conquering the
    financial and social challenges of the time were no mean feat either, especially as he managed – we assume hopefully
    – to stay on the right side of the law ... </p>
<p>‘So, what’s next?’ I can hear my great-grandfather calling out to me from the grave. </p>
<p>‘It’s time to return to the present!’ I reply, trying not to look ungrateful.</p>
<p>And so, there it is. Now, more than a hundred-and-fifty years after my great-grandparent’s passionate story consumed
    their every moment, I find myself ensconced in breezy Sussex by the sea, still with a book to write – and still
    miles away from the emerald-green rice fields of my beloved Isaan. What was it that had suddenly hurtled me,
    clip-clopping down London’s lamp-lit streets, into the dreamy world of a Victorian romance? Had I been dragged there
    by the unseen force of my great-grandparent’s heroic saga? If, in some spiritual, subliminal way, they’d been
    responsible for my fleeting imprisonment, I salute them. Their capture of me has allowed a wonderful story to see
    the light of day. And from a personal perspective, I’d been given a chance to fantasise about the blank pages of
    their stirring existences. </p>
<p>My new novel, The Peccavi Plot is the result. Within its pages, I’ve given Henry and Caroline leading roles. With a
    little inventiveness on my part, I’ve offered up a fictional explanation about how they might have managed their
    loves and lives. And I have added some extra spice to the plot – if more were needed … I’ve given them a mystery to
    solve, a tangled web to unravel, an epic adventure to run. The story sees Henry drawn towards city districts awash
    with vice and crime in his efforts to put bread on the table for his burgeoning family. Here he stumbles into the
    midst of a clandestine plot that may endanger his country. It’s a tale designed to take the reader on a thrilling
    hansom cab ride through the dimly lit streets of nineteenth century London towards the wild and dusty plains of
    northern India, and into the grand estates of Tsarist Russia, where foreign forces plot to challenge Britain’s
    imperial ambitions. Could the adventure have actually happened? Most definitely it could! Could my ancestors have
    been involved? Well, perhaps not … but all the same, it’s been fascinating to speculate about their lives and
    utterly absorbing to write about them. </p>
<p>A final thought ... As a third-generation product of Henry’s love affair with his long-time mistress, his eventual
    wife, and my great-grandma, I suspect this makes me part of the bastard line. </p>
<p>Ha! I couldn’t give a fig! Perfect in fact.</p>