{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1 class="text-center pt-4">News</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-2">
        <img src="static/images/mekong.jpg" class="img-fluid" alt="Mekong Dragon - Book Cover" />
    </div>
    <div class="col-sm-12 col-lg-10">
        <h3 class="text-left pt-4">My Favourite Holiday:</h3>
        <h3>Frank Hurst loves the chaos and tranquillity of Thailand</h3>
        <div class="col-12 p-0">
            <div class="block-divider mx-auto mt-0"></div>
        </div>
        <h4>20 Feb 2018</h4>
        <div class="col-12 p-0">
            <div class="block-divider mx-auto"></div>
        </div>
        <p>
            LONDONER Frank Hurst is a former drugs intelligence investigator whose work for HM Customs, Scotland
            Yard and the Foreign Office took him all over the world.
        </p>
    </div>
</div>

{% endblock %}