{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">News</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 col-lg-3 my-auto">
            <img src="static/images/news/news-20feb2018.png" class="img-fluid image-shadow" alt="Thailand Landscape" />
        </div>
        <div class="col-sm-12 col-lg-9 text-muted">
            <h3 class="text-left pt-4">My Favourite Holiday:</h3>
            <h3>Frank Hurst loves the chaos and tranquillity of Thailand</h3>
            <h5><i>The Chiang Mai Assignment</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto mt-0"></div>
            </div>
            <h5 class="pt-2"><strong></strong>20 Feb 2018</strong></h5>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto"></div>
            </div>
            <p class="pt-2">
                LONDONER Frank Hurst is a former drugs intelligence investigator whose work for HM Customs, Scotland
                Yard and the Foreign Office took him all over the world.
            </p>
            <a href="https://www.sundaypost.com/fp/chaos-and-tranquillity-thats-living-the-thai-life/"
                class="read-more-news"><i class="fas fa-chevron-right"></i>&ensp;READ
                MORE&ensp;<i class="fas fa-chevron-left"></i></a>
        </div>
    </div>
    <div class="block-divider mx-auto mt-5 mb-3"></div>
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <img src="static/images/news/news-12feb2018.png" class="img-fluid" alt="Thailand View From Balcony" />
        </div>
        <div class="col-sm-12 col-lg-10">
            <h3 class="text-left pt-4">Thailand</h3>
            <h4>Related Book</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto mt-0"></div>
            </div>
            <h4>12 Feb 2018</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto"></div>
            </div>
            <p>
                Currently in Thailand, writing book 3 of the Golden Triangle trilogy.
            </p>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3"></div>
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <img src="static/images/news/news-11feb2018.png" class="img-fluid"
                alt="Books On Bookshelf In Bookshop In Thailand" />
        </div>
        <div class="col-sm-12 col-lg-10">
            <h3 class="text-left pt-4">Thailand</h3>
            <h4>Related Book</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto mt-0"></div>
            </div>
            <h4>12 Feb 2018</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto"></div>
            </div>
            <p>
                The new book has just arrived on the shelves of Asia books, right next to "The Postmistress of Nong
                Khai"
                too!
            </p>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3"></div>
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <img src="static/images/news/news-29jan2018.png" class="img-fluid" alt="Frank Hurst" />
        </div>
        <div class="col-sm-12 col-lg-10">
            <h3 class="text-left pt-4">Why I Love Thailand By Frank Hurst</h3>
            <h4>Related Book</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto mt-0"></div>
            </div>
            <h4>18 Jan 2018</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto"></div>
            </div>
            <p>
                I was very lucky that my work took me to Thailand in the mid-80s. We were investigating Howard Marks (Mr
                Nice) at the time and my office needed someone to see what he was up to in Bangkok. Bangkok simply blew
                me
                away. The juxtaposition of chaotic city, tranquil Buddhist temples, belching exhausts and the wonderful
                smell of spicy street food was a heady mix.
            </p>
            <a href="https://www.femalefirst.co.uk/books/the-chiang-mai-assignment-frank-hurst-1122763.html?platform=hootsuite"
                target="_blank">READ
                MORE<i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3"></div>
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <img src="static/images/news/news-11jan2018.png" class="img-fluid" alt="Frank Hurst" />
        </div>
        <div class="col-sm-12 col-lg-10">
            <h3 class="text-left pt-4">Press Release</h3>
            <h4>Related Book</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto mt-0"></div>
            </div>
            <h4>11 Jan 2018</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto"></div>
            </div>
            <p>
                Press release for the new book, currently being sent to reviewers.
            </p>
            <a href="http://frankhurst.com/pressReleaseJan2018.pdf" target="_blank">READ
                MORE<i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3"></div>
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <img src="static/images/news/news-11nov2017.png" class="img-fluid" alt="Frank Hurst" />
        </div>
        <div class="col-sm-12 col-lg-10">
            <h3 class="text-left pt-4">Press Release</h3>
            <h4>Related Book</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto mt-0"></div>
            </div>
            <h4>11 Nov 2017</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto"></div>
            </div>
            <p>
                The promo video for the new book has now been completed.
            </p>
            <div class="col-10 offset-1 video-margins embed-responsive embed-responsive-16by9 video">
                <iframe title="The Chang Mai Assignment" width="560" height="315"
                    src="https://www.youtube.com/watch?v=vBxH1gIbkSU"
                    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3"></div>
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <img src="static/images/news/news-7nov2017.png" class="img-fluid" alt="Thailand Landscape" />
        </div>
        <div class="col-sm-12 col-lg-10">
            <h3 class="text-left pt-4">Interview with Simandan</h3>
            <h4>Related Book</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto mt-0"></div>
            </div>
            <h4>7 Nov 2017</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto"></div>
            </div>
            <p>
                Frank Hurst is a British retired career intelligence officer and investigator who has been calling
                Phuket,
                his home since 2011. In this interview he talks about his life experiences and his latest book The
                Chiang
                Mai Assignment, a thriller set in Thailand.
            </p>
            <a href="https://www.simandan.com/frank-hurst-chiang-mai-assignment/" target="_blank">READ
                MORE<i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3"></div>
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <img src="static/images/news/news-6nov2017.png" class="img-fluid" alt="Thailand Landscape" />
        </div>
        <div class="col-sm-12 col-lg-10">
            <h3 class="text-left pt-4">Phuket News Podcast</h3>
            <h4>Related Book</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto mt-0"></div>
            </div>
            <h4>6 Nov 2017</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto"></div>
            </div>
            <p>
                I had a great time doing this podcast with Phuket News.
            </p>
            <a href="https://www.thephuketnews.com/radio/author-of-the-golden-triangle-trilogy-frank-hurst-on-live-89-5-fm-drive-on-live-with-jason-wilder-06-11-2017-458-podcasts.php"
                target="_blank">READ
                MORE<i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3"></div>
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <img src="static/images/news/news-8july2016.png" class="img-fluid" alt="Thailand Landscape" />
        </div>
        <div class="col-sm-12 col-lg-10">
            <h3 class="text-left pt-4">Phuket News - Review</h3>
            <h4>Related Book</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto mt-0"></div>
            </div>
            <h4>8 July 2016</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto"></div>
            </div>
            <p>
                The topic of smuggling premium drugs from South and Southeast Asia during the latter half of the 20th
                century has been the basis for several good reads – non-fiction, fiction and a handful of titles that
                mix a
                little bit and a whole lot of both.
            </p>
            <a href="https://www.thephuketnews.com/the-postmistress-of-nongkhai-leaves-us-wanting-58141.php#ezG8SKT05mHCpS2i.97"
                target="_blank">READ
                MORE<i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3"></div>
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <img src="static/images/news/news-11may2016.png" class="img-fluid" alt="Thailand Landscape" />
        </div>
        <div class="col-sm-12 col-lg-10">
            <h3 class="text-left pt-4">The Argus Article</h3>
            <h4>Related Book</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto mt-0"></div>
            </div>
            <h4>11 May 2016</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto"></div>
            </div>
            <p>
                A tale of passion, deception and intrigue set in London and Thailand against a backdrop of the dangerous
                world of international drug smuggling may seem like the stuff of thrillers.
            </p>
            <a href="https://www.thephuketnews.com/the-postmistress-of-nongkhai-leaves-us-wanting-58141.php#ezG8SKT05mHCpS2i.97"
                target="_blank">READ
                MORE<i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3"></div>
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <img src="static/images/news/news-9may2016.png" class="img-fluid" alt="Thailand Landscape" />
        </div>
        <div class="col-sm-12 col-lg-10">
            <h3 class="text-left pt-4">Bangkok Post - Review</h3>
            <h4>Related Book</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto mt-0"></div>
            </div>
            <h4>9 May 2016</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto"></div>
            </div>
            <p>
                Drugs are a trillion-dollar business and the so-called War on Drugs is under-financed. So much is paid
                to
                the powers that be to turn a blind eye that those who fight the good fight deserve the credit they get
                when
                busting a drug ring.
            </p>
            <a href="https://www.bangkokpost.com/print/965037/" target="_blank">READ
                MORE<i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3"></div>
    <div class="row">
        <div class="col-sm-12 col-lg-2">
            <img src="static/images/news/news-jan2016.png" class="img-fluid" alt="Thailand Landscape" />
        </div>
        <div class="col-sm-12 col-lg-10">
            <h3 class="text-left pt-4">The Book Bag - Review</h3>
            <h4>Related Book</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto mt-0"></div>
            </div>
            <h4>Jan 2016</h4>
            <div class="col-12 p-0">
                <div class="block-divider mx-auto"></div>
            </div>
            <p>
                Mike Rawlins' rise through the ranks in the investigation department of Customs and Excise has been
                steady,
                culminating in his dream posting: attachment to the British Embassy, Thailand. It gets even better when
                he
                realises a name from his past is also operating out of the country on the other side of the law. Mike's
                attempts to nail him over the years have become personal and now, thanks to local informant or
                'Postmistress' Lek, prosecution is a possibility. What Mike doesn't realise is the cost the chase will
                exact… not yet anyway.
            </p>
            <a href="https://www.bangkokpost.com/print/965037/" target="_blank">READ
                MORE<i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3"></div>
</div>


{% endblock %}