{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 gradient page-header">
            <p class="text-center pt-4">News</p>
        </div>
    </div>
</div>

<div class="container">

    <!-- News Feed 1 - 2021 -->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">Author Frank Hurst discovers an
                ancestor
                with an
                extraordinary
                story
                to
                tell...</h3>
            <div class="row">
                <div class="col-6">
                    <img src="static/images/news/caroline-buchan.png"
                        class="img-fluid image-shadow news-book-image myImg"
                        alt="Caroline Buchan, my great-grandmother circa 1880" />
                </div>
                <div class="col-6">
                    <img src="static/images/news/henry-gough.png" class="img-fluid image-shadow news-book-image myImg"
                        alt="Henry Gough, my great-grandfather circa 1880 (with tints!)" />
                </div>

                <!-- Modal -->
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">

            <h3 class="d-none d-lg-block">Author Frank Hurst discovers an ancestor with an extraordinary story to
                tell...</h3>
            <h5><i>Ancestry</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">29 Apr 2021</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                The life of Henry Gough – A Victorian rag to riches tale of passion and courage.
            </p>
            <div class="read-more-news-center">
                <a href="static/documentation/henry-gough-doc.docx" class="read-more-news" target="_blank"><i
                        class="fas fa-chevron-right"></i>&ensp;READ
                    MORE&ensp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
    </div>
    <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>

    <!-- News Feed 1 -->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left d-lg-none text-uppercase text-center">My Favourite Holiday:</h3>
            <h3 class="text-muted text-left mb-5 d-lg-none text-center">Frank Hurst loves the chaos and tranquillity
                of
                Thailand</h3>
            <img src="static/images/news/news-20feb2018.png" class="img-fluid image-shadow news-book-image"
                alt="Thailand Landscape" />
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
            <h3 class="text-left d-none d-lg-block">My Favourite Holiday:</h3>
            <h3 class="d-none d-lg-block">Frank Hurst loves the chaos and tranquillity of Thailand</h3>
            <h5><i>The Chiang Mai Assignment</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">20 Feb 2018</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                LONDONER Frank Hurst is a former drugs intelligence investigator whose work for HM Customs, Scotland
                Yard and the Foreign Office took him all over the world.
            </p>
            <div class="read-more-news-center">
                <a href="https://www.sundaypost.com/fp/chaos-and-tranquillity-thats-living-the-thai-life/"
                    class="read-more-news" target="_blank"><i class="fas fa-chevron-right"></i>&ensp;READ
                    MORE&ensp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
    </div>
    <div class="block-divider mx-auto mt-5 mb-3 text-muted"></div>

    <!-- News Feed 2-->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">Thailand</h3>
            <img src="static/images/news/news-12feb2018.png" class="img-fluid image-shadow news-book-image"
                alt="Thailand View From Balcony" />
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
            <h3 class="text-left d-none d-lg-block">Thailand</h3>
            <h5><i>The Chiang Mai Assignment</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">12 Feb 2018</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                Currently in Thailand, writing book 3 of the Golden Triangle trilogy.
            </p>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3 text-muted"></div>

    <!-- News Feed 3-->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">Thailand</h3>
            <img src="static/images/news/news-11feb2018.png" class="img-fluid image-shadow news-book-image"
                alt="Books On Bookshelf In Bookshop In Thailand" />
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
            <h3 class="text-left d-none d-lg-block">Thailand</h3>
            <h5><i>The Chiang Mai Assignment</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">11 Feb 2018</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                The new book has just arrived on the shelves of Asia books, right next to "The Postmistress of Nong
                Khai"
                too!
            </p>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3 text-muted"></div>

    <!-- News Feed 4-->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">Why I Love Thailand By Frank
                Hurst</h3>
            <img src="static/images/news/news-29jan2018.png" class="img-fluid image-shadow news-book-image"
                alt="Frank Hurst" />
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
            <h3 class="text-left d-none d-lg-block">Why I Love Thailand By Frank Hurst</h3>
            <h5><i>The Chiang Mai Assignment</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">18 Jan 2018</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                I was very lucky that my work took me to Thailand in the mid-80s. We were investigating Howard Marks (Mr
                Nice) at the time and my office needed someone to see what he was up to in Bangkok. Bangkok simply blew
                me
                away. The juxtaposition of chaotic city, tranquil Buddhist temples, belching exhausts and the wonderful
                smell of spicy street food was a heady mix.
            </p>
            <div class="read-more-news-center">
                <a href="https://www.femalefirst.co.uk/books/the-chiang-mai-assignment-frank-hurst-1122763.html?platform=hootsuite"
                    class="read-more-news" target="_blank"><i class="fas fa-chevron-right"></i>&ensp;READ
                    MORE&ensp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3 text-muted"></div>

    <!-- News Feed 5-->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">Press Release</h3>
            <img src="static/images/news/news-11jan2018.png" class="image-shadow news-book-image"
                alt="Book Shelf - The Chiang Mai Assignment" />
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
            <h3 class="text-left d-none d-lg-block">Press Release</h3>
            <h5><i>The Chiang Mai Assignment</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">11 Jan 2018</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                Press release for the new book, currently being sent to reviewers.
            </p>
            <div class="read-more-news-center">
                <a href="http://frankhurst.com/pressReleaseJan2018.pdf" class="read-more-news" target="_blank">
                    <i class="fas fa-chevron-right"></i>&ensp;READ
                    MORE&ensp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3 text-muted"></div>


    <!-- News Feed 6-->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">Promo Video</h3>
            <img src="static/images/news/news-11nov2017.png" class="img-fluid image-shadow news-book-image"
                alt="Book Shelf - The Chiang Mai Assignment" />
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
            <h3 class="text-left d-none d-lg-block">Promo Video</h3>
            <h5><i>The Chiang Mai Assignment</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">11 Nov 2017</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                The promo video for the new book has now been completed.
            </p>
            <div class="col-10 offset-1 embed-responsive embed-responsive-16by9 video">
                <iframe title="The Chang Mai Assignment" width="560" height="315"
                    src="https://www.youtube.com/watch?v=vBxH1gIbkSU"
                    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3 text-muted"></div>

    <!-- News Feed 7-->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">Interview with Simandan</h3>
            <img src="static/images/news/news-7nov2017.png"
                class="img-fluid img-fluid img-fluid image-shadow news-book-image"
                alt="Frank Hurst - Landscape Background" />
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
            <h3 class="text-left d-none d-lg-block">Interview with Simandan</h3>
            <h5><i>The Chiang Mai Assignment</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">7 Nov 2017</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                Frank Hurst is a British retired career intelligence officer and investigator who has been calling
                Phuket,
                his home since 2011. In this interview he talks about his life experiences and his latest book The
                Chiang
                Mai Assignment, a thriller set in Thailand.
            </p>
            <div class="read-more-news-center">
                <a href="https://www.simandan.com/frank-hurst-chiang-mai-assignment/" class="read-more-news"
                    target="_blank"><i class="fas fa-chevron-right"></i>&ensp;READ
                    MORE&ensp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3 text-muted"></div>

    <!-- News Feed 8-->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">Phuket News Podcast</h3>
            <img src="static/images/news/news-6nov2017.png" class="img-fluid image-shadow news-book-image"
                alt="Frank hurst + Phuket News Broadcaster" />
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
            <h3 class="text-left d-none d-lg-block">Phuket News Podcast</h3>
            <h5><i>The Chiang Mai Assignment</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">6 Nov 2017</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                I had a great time doing this podcast with Phuket News.
            </p>
            <div class="read-more-news-center">
                <a href="https://www.thephuketnews.com/radio/author-of-the-golden-triangle-trilogy-frank-hurst-on-live-89-5-fm-drive-on-live-with-jason-wilder-06-11-2017-458-podcasts.php"
                    class="read-more-news" target="_blank"><i class="fas fa-chevron-right"></i>&ensp;READ
                    MORE&ensp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3 text-muted"></div>

    <!-- News Feed 9-->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">Phuket News - Review</h3>
            <img src="static/images/news/news-8july2016.png" class="img-fluid image-shadow news-book-image"
                alt="Laptop" />
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
            <h3 class="text-left d-none d-lg-block">Phuket News - Review</h3>
            <h5><i>The Postmistress of Nong Khai</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">8 July 2016</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                The topic of smuggling premium drugs from South and Southeast Asia during the latter half of the 20th
                century has been the basis for several good reads – non-fiction, fiction and a handful of titles that
                mix a
                little bit and a whole lot of both.
            </p>
            <div class="read-more-news-center">
                <a href="https://www.thephuketnews.com/the-postmistress-of-nongkhai-leaves-us-wanting-58141.php#ezG8SKT05mHCpS2i.97"
                    class="read-more-news" target="_blank"><i class="fas fa-chevron-right"></i>&ensp;READ
                    MORE&ensp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3 text-muted"></div>

    <!-- News Feed 10-->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">The Argus Article</h3>
            <img src="static/images/news/news-11may2016.png" class="img-fluid image-shadow news-book-image"
                alt="Frank Hurst" />
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
            <h3 class="text-left d-none d-lg-block">The Argus Article</h3>
            <h5><i>The Postmistress of Nong Khai</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">11 May 2016</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                A tale of passion, deception and intrigue set in London and Thailand against a backdrop of the dangerous
                world of international drug smuggling may seem like the stuff of thrillers.
            </p>
            <div class="read-more-news-center">
                <a href="https://www.theargus.co.uk/news/14484243.sussex-author-publishes-first-novel/"
                    class="read-more-news" target="_blank"><i class="fas fa-chevron-right"></i>&ensp;READ
                    MORE&ensp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3 text-muted"></div>

    <!-- News Feed 11-->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">Bangkok Post - Review</h3>
            <img src="static/images/news/news-9may2016.png" class="img-fluid image-shadow news-book-image"
                alt="Thailand Landscape" />
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
            <h3 class="text-left d-none d-lg-block">Bangkok Post - Review</h3>
            <h5><i>The Postmistress of Nong Khai</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">09 May 2016</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                Drugs are a trillion-dollar business and the so-called War on Drugs is under-financed. So much is paid
                to
                the powers that be to turn a blind eye that those who fight the good fight deserve the credit they get
                when
                busting a drug ring.
            </p>
            <div class="read-more-news-center">
                <a href="https://www.bangkokpost.com/print/965037/" class="read-more-news" target="_blank"><i
                        class="fas fa-chevron-right"></i>&ensp;READ
                    MORE&ensp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3 text-muted"></div>

    <!-- News Feed 12-->
    <div class="row margin-news-section1">
        <div class="col-sm-12 col-lg-4 news-image-pr content-news-title">
            <h3 class="text-muted text-left mb-5 d-lg-none text-uppercase text-center">The Book Bag - Review</h3>
            <img src="static/images/news/news-jan2016.png" class="img-fluid image-shadow news-book-image"
                alt="The Postmistress of Nong Khai - Image" />
        </div>
        <div class="col-sm-12 col-lg-8 text-muted content-mb-news">
            <h3 class="text-left d-none d-lg-block">The Book Bag - Review</h3>
            <h5><i>The Postmistress of Nong Khai</i></h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <h5 class="pt-2">Jan 2016</h5>
            <div class="col-12 p-0">
                <div class="block-divider-sub mx-auto mt-0 text-muted"></div>
            </div>
            <p class="pt-2 news-mb">
                Mike Rawlins' rise through the ranks in the investigation department of Customs and Excise has been
                steady,
                culminating in his dream posting: attachment to the British Embassy, Thailand. It gets even better when
                he
                realises a name from his past is also operating out of the country on the other side of the law. Mike's
                attempts to nail him over the years have become personal and now, thanks to local informant or
                'Postmistress' Lek, prosecution is a possibility. What Mike doesn't realise is the cost the chase will
                exact… not yet anyway.
            </p>
            <div class="read-more-news-center">
                <a href="http://www.thebookbag.co.uk/w/index.php?title=The_Postmistress_of_Nong_Khai_by_Frank_Hurst"
                    class="read-more-news" target="_blank"><i class="fas fa-chevron-right"></i>&ensp;READ
                    MORE&ensp;<i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
    </div>
    <div class="block-divider mx-auto mt-3 mb-3 text-muted mb-5"></div>

    <!-- Scroll to top of page arrow -->
    <div class="page-top-button shadow-sm rounded-0 border border-black d-xl-none">
        <a class="page-top-link d-flex h-100">
            <i class="fas fa-chevron-up text-black mx-auto my-auto"></i>
        </a>
    </div>

</div>


{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/modal-book1.js') }}"></script>
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

{% endblock %}