<p>As a writer of thrillers and adventure novels set in the Far East, the arrival of the global pandemic left me
    stranded – in more ways than one. Over the last few years my annual routine has been exquisitely simple and
    rewardingly productive. I’d spend half of my year working, wandering and writing in South East Asia, and the
    remaining six months enjoying whatever the fickle English summer had to offer. There was balance and adventure, and
    I loved it.</p>
<p>But last year, as the spring blossomed in Sussex gardens, while I plugged away in distant Nong Khai, the COVID virus
    began to show a stubbornness of purpose that surprised many, including me. It forced me to make a fateful decision;
    I would bolt for the temporary cover of the NHS and sit things out near Brighton. Although the return to Blighty
    left me far from my much-loved wildernesses and sparkling waterfalls around the Mekong River, I consoled myself that
    the situation would be short-lived – it was a storm in a tea cup after all – a miasma that would soon pass us by.
    But as time progressed, the chances of a speedy return to the rain forest heat receded with the publication of each
    new government statistic. The reality of quarantine and self-isolation now held me in its bleak and unrelenting
    grip. </p>